---
layout: default
title: Home
excerpt:
  Matir's blog about offensive security, hacking, electronics, and making.
---

<div class="content posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}
			{% if post.category %}in <a
					href="/category/{{ post.category | slugify }}"
					>{{ post.category }}</a>{% endif %}
        {% capture rtime -%}
          {%- include readingtime.html content=post.content -%}
        {%- endcapture -%}
        (Reading time: {{rtime | strip -}})
    </span>

    <div class="post-excerpt">
      {{ post.excerpt }}
    </div>
    {% if post.excerpt != post.content %}
    <p class='morelink'><a href='{{ post.url }}'><strong>Read More...</strong></a></p>
    {% endif %}
  </div>
  {%- if forloop.last == false -%}
  <hr />
  {% endif -%}
  {%- endfor %}
</div>

<hr />
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %} |
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
