---
layout: page
title: Tags
permalink: /tags/
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort | uniq %}
<ul class="tags">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture tag_word %}{{ tag_words[item] }}{% endcapture %}
    <li>
      <a href="#{{ tag_word | slugify }}" class="tag">{{ tag_word }}
        <span>({{ site.tags[tag_word].size }})</span>
      </a>
    </li>
  {% endunless %}{% endfor %}
</ul>

<div id="archives" class="tag-archives">
  {% for tag_word in tag_words %}
    <div class="archive-group">
      <h3 id="{{ tag_word | slugify}}" name="{{ tag_word | slugify }}" class="tag-title">{{ tag_word }}</h3>
      <ul>
      {% for post in site.tags[tag_word] %}
        <li>{{ post.date | date_to_string }}: <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
