<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20926980-1"></script>
<script async src="/assets/js/ga.js"></script>
<script data-goatcounter="https://systemoverlord.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
