  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/syntax.css?{{site.time | date: '%s%N'}}">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/icons.css?{{site.time | date: '%s%N'}}">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  {% if page.url %}
    <!-- Canonical URL -->
    <link rel="canonical" href="https://systemoverlord.com{{page.url}}">
  {% endif %}

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.title }} - {{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.baseurl }}static/favicon.ico">
  <meta property="og:url" content="https://systemoverlord.com{{page.url}}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.description %}
    <meta name="description" property="og:description"
      content="{{ page.description }}">
  {% else %}
    <meta name="description" property="og:description"
      content="{{ page.excerpt | strip_html | truncatewords: 50 }}">
  {% endif %}
