<nav id="navbar-nav-links">
  <a class="navbar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{
    site.baseurl }}/">Blog</a>
  {%- assign pages_list = site.pages | sort:"weight","first" -%}
  {%- for node in pages_list -%}
  {%- if node.title != null -%}
  {%- if node.navbar != false and node.layout == "page" or node.navbar == true %}
  | <a class="navbar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
  {% endif -%}
  {%- endif -%}
  {%- endfor -%}
</nav>
