<a
     href="https://twitter.com/intent/tweet/?text={{page.title|cgi_escape}}&url={{site.url|cgi_escape}}{{page.url|cgi_escape}}"
     title="Share on Twitter"
     ><i
     class="fa-brands fa-square-twitter"></i></a>
<a
     href="https://reddit.com/submit/?url={{site.url|cgi_escape}}{{page.url|cgi_escape}}&resubmit=true&title={{page.title|cgi_escape}}"
     title="Share on Reddit"
     ><i
     class="fa-brands fa-square-reddit"></i></a>
