<nav id="sidebar-nav-links">
  <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{
    site.baseurl }}/">Home</a>
  {%- assign pages_list = site.pages | sort:"weight","first" -%}
  {%- for node in pages_list -%}
  {%- if node.title != null -%}
  {%- if node.layout == "page" %}
  <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
  {% endif -%}
  {%- endif -%}
  {%- endfor -%}
  <p></p>
  <span class="sidebar-nav-item icon-github"><a
        href="https://github.com/matir">github.com/matir</a></span>
  <span class="sidebar-nav-item icon-twitter"><a
        href="https://twitter.com/matir">@matir</a></span>
  <span class="sidebar-nav-item icon-googleplus"><a
        href="https://google.com/+DavidTomaschik">+DavidTomaschik</a></span>
  <span class="sidebar-nav-item icon-rss"><a
        href="/atom.xml">Atom/RSS</a></span>
</nav>
