<nav id="navbar-social">
  <ul class="no-decoration">
    <li class="navbar-nav-item"><a
        href="https://keybase.io/matir"
        ><i class="fa-brands fa-keybase"></i>keybase.io/matir</a></li>
    <li class="navbar-nav-item"><a
        href="https://github.com/matir"
        ><i class="fa-brands fa-square-github"></i>github.com/matir</a></li>
    <li class="navbar-nav-item"><a
        href="https://twitter.com/matir"
        ><i class="fa-brands fa-square-twitter"></i>@matir</a></li>
    <li class="navbar-nav-item"><a
        href="/atom.xml"
        ><i class="fa-solid fa-square-rss"></i>Atom/RSS</a></li>
  </ul>
</nav>
