/**
 * Styles for code blocks.
 */

code {
  color: $code-color;
  background-color: $code-background;
  padding: 0 0.1em;
}

// Make table cells fixed width
.highlighter-rouge .rouge-code {
  width: 99%;
}

table.rouge-table {
  margin-bottom: 0;
}

div.highlight {
  padding: 0.25rem;
  .lineno {
    display: inherit;
    text-align: right;
    padding-right: .25rem;
  }
}
