/** Formatting for posts */

/** General post */
.post,.post-content {
  text-align: justify;
  .post-title {
    text-align: left;
  }
  .post-date {
    color: #aaa;
    a {
      color: #aaa;
    }
  }
  .post-body {
    position: relative;
    ul {
      overflow: hidden;
    }
  }
}

/* Tags at top */
.post-tags {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  a {
    font-size: 100%;
    margin-right: 0;
    color: #aaa;
    opacity: 1;
  }
}

/* Index page */
.posts {
  .post {
    clear: both;
  }
  .morelink {
    text-align: right;
  }
}

/** Related box */
#related {
  border-top: 1px solid #aaa;
}

/** Slides */
div.slides-container {
  width: 100%;
  padding-bottom: 56.25%; /* For 16:9 ratio */
  position: relative;
}

object.slides {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/** Affiliate notice */
@media (min-width: 49rem) {
  p.affiliate-notice {
    text-align: right;
    font-size: 80%;
    border: 1px dashed #ddd;
    color: #999;
    position: absolute;
    top: 12rem;
    right: 8rem;
    width: 20rem;
  }
}

/** Table of contents */
#markdown-toc ul {
  margin-bottom: 0;
}

/** Series box */
div.panel.series {
  border: 1px dashed #333;
  background: #eee;
  padding: 10px;
  margin-bottom: 1rem;
  ol {
    margin-bottom: 0;
  }
}

/** Blockquote styles */
blockquote {
    padding-right: 1.25rem;
    &.sidenote {
        color: $grey;
        border: 1px dashed $grey;
        font-size: 90%;
    }
}

/** Captions */
p.caption {
  font-size: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  font-style: italic;
}

/** Table of data */
table.small {
  font-size: 75%;
  th, td {
    padding: 0.2rem;
  }
}
