/**
 * Site-wide styles
 */

/** Floating and clears */
.right {
  float: right;
}

.left {
  float: left;
}

img.right,
a.right img{
  padding-left: 0.4rem;
}

img.left,
a.left img{
  padding-right: 0.4rem;
}

.both, .clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.nobr {
  white-space: nowrap;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

// Pad next to icons
.navbar-nav-item > a {
  padding-right: 0.3rem;
  white-space: nowrap;
  i {
    padding-right: 0.3rem;
  }
}

.copyright {
  margin-top: 1rem;
  font-size: 0.8rem;
}

// Table coloration
table:not(.rouge-table) tbody tr:nth-child(odd) {
  td, th {
    background-color: #eeeeee;
  }
}

// Table special formats
table{
  &.center, &.right, &.left {
    width: auto;
  }
}

// Code tables
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

div.highlight {
  position: relative;
  pre.highlight {
    overflow: initial;
    border: none;
  }
}

table.rouge-table {
  margin: 0;
  border-collapse: collapse;
  table-layout: fixed;
  td {
    border: 1px solid #999;
    margin-bottom: 1rem;
    vertical-align: top;
    &.rouge-gutter {
      min-width: 3rem;
      width: 3rem;
      text-align: right;
    }
    &.rouge-code {
      width: 100%;
      overflow-x: auto;
      overflow-y: clip;
      .copy-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        opacity: 30%;
        &:hover {
          opacity: 90%;
        }
      }
    }
  }
  pre {
    border: 0;
    margin: 0 0.5rem;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    background: initial;
    &.lineno {
      margin: 0 0.2rem;
    }
  }
}

/* Header flexbox */
.container.flex-header {
  display: flex;
  align-items: flex-end;
  #socials {
    ul li {
      padding-top: 0.3rem;
    }
  }
  #page-title {
    flex-grow: 3;
  }
}
ul.no-decoration {
  list-style: none;
  li {
    list-style-image: none;
  }
}

/* Pagination */
.pagination {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Copyright stuff */
.copyright-container {
  background-color: #333;
  .copyright {
    padding: 1rem;
  }
}
