/**
 * Site-wide styles
 */

/** Floating and clears */
.right {
  float: right;
}

.left {
  float: left;
}

img.right,
a.right img{
  padding-left: 0.4rem;
}

img.left,
a.left img{
  padding-right: 0.4rem;
}

.both, .clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.nobr {
  white-space: nowrap;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

// Pad next to icons
.navbar-nav-item > a {
  padding-right: 0.3rem;
  i {
    padding-right: 0.3rem;
  }
}

.copyright {
  margin-top: 1rem;
  font-size: 0.8rem;
}

// Table coloration
table:not(.rouge-table) tbody tr:nth-child(odd) {
  td, th {
    background-color: #eeeeee;
  }
}

// Table special formats
table{
  &.center, &.right, &.left {
    width: auto;
  }
}

// Code tables
table.rouge-table {
  margin: 0;
  border-collapse: collapse;
  td {
    border: 1px solid #999;
    &.rouge-gutter {
      min-width: 3rem;
      text-align: right;
    }
    &.rouge-code {
      width: 100%;
    }
  }
  pre {
    border: 0;
    margin: 0 0.5rem;
    padding: 0;
  }
}

/* Header flexbox */
.container.flex-header {
  display: flex;
  align-items: flex-end;
  #socials {
    ul li {
      padding-top: 0.3rem;
    }
  }
  #page-title {
    flex-grow: 3;
  }
}
ul.no-decoration {
  list-style: none;
  li {
    list-style-image: none;
  }
}
