---
# SCSS
---

// Charcoal theme
$sidebar-bg-color: #36454f;
$sidebar-sticky: true;
$link-color: #6a9fb5;
$minor-color: #9a9a9a;
$code-color: $sidebar-bg-color;
$code-background: #eeeeee;

// Load the theme
@import "hydeout";
@import "site";
@import "posts";
@import "code";

// Plain CSS imports
@import "syntax";
@import "icons";
