---
layout: post
title: "'Embedded Linux Primer': A Review"
date: 2007-05-20 05:44:10 +0000
permalink: /2007/05/20/embedded-linux-primer-a-review/
category: Linux
tags:
  - Book Review
redirect_from:
  - /blog/embedded-linux-primer-a-review/
---
<p>A review originally published on LinuxQuestions.org:</p>
<p>"Embedded Linux Primer" by Christopher Hallinan is an excellent resource for anyone looking to use Linux in an embedded system.  It does not cover basics, so is more targeted to experienced Linux or embedded systems developers looking to move to Linux embedded systems.</p>
<p>The book covers a variety of topics including the Linux kernel's interaction with hardware, system initialization, design considerations when working with an embedded system, and porting Linux.  The book provides a detailed description of most of these topics, including many step-by-step directions on reference implementations.</p>
<p>The book does not provide command-by-command howtos for many of the steps involved, but the details should be obvious to anyone familiar with basic kernel building and software development.</p>
<p>The book also briefly discusses the new hard real-time support for the Linux kernel, including hardware-specific implementation issues.  It also provides all code samples in the book under the GPL license, though it does not provide a CD.</p>
<p>All in all, I would strongly recommend this book for anyone looking to develop an Embedded Linux System or for anyone curious about the inner workings of the Linux kernel on embedded systems.</p>

