---
layout: post
title: "Linux on Dells: Sales Start Today"
date: 2007-05-24 18:45:13 +0000
permalink: /2007/05/24/linux-on-dells-sales-start-today/
category: Misc
redirect_from:
  - /blog/linux-on-dells-sales-start-today/
---
<p>Dell <a href="http://direct2dell.com/one2one/archive/2007/05/24/15994.aspx">has begun</a> selling three models shipping with Ubuntu Linux 7.04.  It's really exciting seeing this, and I hope it means we'll see more vendors get in on the Linux action.</p>

