---
layout: post
title: "AACS & DRM"
date: 2007-05-04 19:48:00 +0000
permalink: /2007/05/04/aacs-drm/
category: Law/Politics
redirect_from:
  - /blog/aacs-drm/
---
<p>The AACS (Advanced Access Content System) is the cartel responsible for the DRM (Digital "Rights" Management) behind HD-DVD disks.  Recently, one of their encryption keys was leaked to the internet.  While I applaud the spreading of this key, it has already been revoked, rendering it somewhat useless.  I am personally quite tired of seeing the continued proliferation of software and technology designed to infringe upon my fair use rights.  I don't understand how stupid the entertainment industry execs have become.</p>
<p>iTunes has DRM, DVDs have DRM, and now HD-DVD and Blu-Ray have been designed AROUND DRM.  There will soon be a shift in the industry, and I, for one, hope the entire industry collapses.  I would love to see the entertainment industry turned upside down, where the end user and content are king.</p>
<p>The continued infringement of fair use must not continue and cannot be sanctioned by our own government.  I encourage all citizens to examine their priorities and work towards an open world, rather than continued restrictions upon what we can and cannot do.</p>
<ul><li><a href="https://www.eff.org/issues/drm">Electronic Frontier Foundation</a></li>
<li><a href="http://defectivebydesign.org/">Defective by Design</a></li>
</ul>
