---
layout: post
title: "Windows Guy tries Ubuntu 7.04 -- Part Deux"
date: 2007-08-02 14:42:45 +0000
permalink: /2007/08/02/windows-guy-tries-ubuntu-704-part-deux/
category: Linux
redirect_from:
  - /blog/windows-guy-tries-ubuntu-704-part-deux/
---
<p>On July 17, I <a href="http://matir.wordpress.com/2007/07/17/windows-guy-tries-ubuntu-704/">reported on</a> the self-proclaimed "Windows Guy" giving Ubuntu Linux a try.  Well, it's been two weeks and boy, <a href="http://scitech.teambio.org/2007/07/29/windows-guy-tries-ubuntu-704-part-2-two-weeks-later/">does he have a lot to say</a>.  Fortunately for the Linux community, it's almost all good.</p>
<p>His experiences are summarized nicely:</p>
<blockquote><p>"In the end I’ve been very impressed with Ubuntu. After two weeks of banging under the hood and using it as often as I can, it has shown itself to be stable, fast and customizable. Hardware support is solid and application support is good. It is a tweakers paradise. I can work at work and and home. If I had to I could use it as my day-to-day system and not have many regrets. I’m still not as comfortable with it as I am in Windows, but I’m getting there. I may not be a convert yet, but I am a fan."</p></blockquote>

