---
layout: post
title: "A wall socket or a computer?"
date: 2007-07-17 19:33:48 +0000
permalink: /2007/07/17/a-wall-socket-or-a-computer/
categories: Computer,Security
redirect_from:
  - /blog/a-wall-socket-or-a-computer/
---
<p>Amazingly, very basic computers can now <a href="http://parthsuthar.com/derive/2007/06/20/a-computer-so-small-it-fits-in-a-wall-socket/">fit in a wall socket</a>: it looks like a bunch of ports, and it is, but it also computes!  Pretty amazing considering that even 30 years ago computers required a dedicated room.  No word on price, but looks pretty cool.</p>

