---
layout: post
title: "AOL and KaZaA to blame for file sharing?"
date: 2007-08-17 19:02:43 +0000
permalink: /2007/08/17/aol-and-kazaa-to-blame-for-file-sharing/
category: Misc
redirect_from:
  - /blog/aol-and-kazaa-to-blame-for-file-sharing/
---
<p>While I think that the RIAA lawsuits over filesharing are downright despicable, I also think that the Santangelo family really needs a reality check here.  According to this arstechnica article, they are alleging that the makers of KaZaA and AOL, their ISP at the time, are partly culpable for their file sharing.  They allege that Sharman Networks failed to warn them that using the application could allow them to violate the law and that AOL did not block the infringement.</p>
<!--more--><p>
Let's get this quite straight: they are blaming their ISP and a software provider because they were too ignorant to understand that what they (or their kids) were doing was illegal.  ISPs are Internet Service Providers, not Internet Content Regulators.  It is ridiculous to suggest that an ISP could determine a manner to filter ONLY infringing content out.  It is simply technologically infeasible.  Any filter broader than that would inhibit my use of my internet connection.  Blocking all P2P is worthless, because there are legitimate uses of P2P.</p>
<p>This is clearly a legal maneuver intended to encumber the proceedings and slow things down.  While I HATE the RIAA, I also hate the suggestion (and possible precedent) that ISPs should be filtering your content.  Should all ISPs block access to YouTube because you might view an infringing video?  What about all websites with song lyrics?  Even a single paragraph of that MIGHT be infringing.</p>
<p>Give me a break: the internet is supposed to be a place for free expression and free exchange of information as well the next superhighway for communications, business, and entertainment.  Let's not make it a place where ISPs dictate what we can and can't see online.</p>

