---
layout: post
title: "Linux Conference Discounts"
date: 2007-05-02 21:22:35 +0000
permalink: /2007/05/02/linux-conference-discounts/
category: Linux
redirect_from:
  - /blog/linux-conference-discounts/
---
<p>As many may know, I'm a moderator over at <a href="http://linuxquestions.org">LinuxQuestions.org</a>.  We sponsor several conferences, and as a result are able to offer <a href="http://jeremy.linuxquestions.org/2007/04/30/linux-and-open-source-conference-discount-codes/trackback/">exclusive discounts</a>.</p>

