---
layout: post
title: "Ubuntu Officially Supported by Dell?"
date: 2007-05-01 00:55:04 +0000
permalink: /2007/05/01/ubuntu-officially-supported-by-dell/
category: Linux
redirect_from:
  - /blog/ubuntu-officially-supported-by-dell/
---
<p>As an interesting continued note to <a href="http://matir.wordpress.com/2007/04/29/michael-dell-runs-linux/">my post about Michael Dell</a>, Fabián Rodríguez, a Senior <a href="http://ubuntu.com">Ubuntu</a> Support Analyst at Canonical Ltd, <a href="http://www.fabianrodriguez.com/blog/archives/2007/04/30/its-d-day/trackback/">is reporting</a> that Ubuntu Linux will be Officially Supported by Dell Computers.  Whether this support comes in the form of Canonical Support or in-house at Dell remains to be seen.  My guess would be that Dell will be contracting with Canonical to provide the support.</p>
<p>Normally, I wouldn't do this, but "dude, I'm getting a Dell."</p>
<p><strong>Update:</strong> <a href="http://www.desktoplinux.com/news/NS8661763902.html">DesktopLinux.com has more details</a>, including the specific machines to come preinstalled and ship dates.  Looks pretty solid to me.</p>

