---
layout: post
title: "Pirated Software -- A problem for Free Software"
date: 2007-08-16 18:22:30 +0000
permalink: /2007/08/16/pirated-software-a-problem-for-free-software/
category: Linux
redirect_from:
  - /blog/pirated-software-a-problem-for-free-software/
---
<p><a href="http://blogs.zdnet.com/hardware/?p=420">According to ZD Net</a>, Free Software (Linux et al.) may need to be worried about pirated copies of commercial software.  Apparently your average user would prefer to run an illegally obtained copy of a commercial application than run legitimately free software.  There's an interesting discussion on this <a href="http://tlug.jp/articles/Windows_Is_Free">here</a>.  My thinking: it doesn't matter.  Linux isn't terribly concerned (yet) about home market share: the business place is where it really excels.  The lack of games and completely legal MP3/DVD/etc. implementations is a bigger hindrance to Linux at home than the availability of pirated copies of Windows.</p>

