---
layout: post
title: "Windows Guy tries Ubuntu 7.04"
date: 2007-07-17 16:35:08 +0000
permalink: /2007/07/17/windows-guy-tries-ubuntu-704/
category: Linux
redirect_from:
  - /blog/windows-guy-tries-ubuntu-704/
---
<p>First off: I should've been keeping this updated.  I've just been incredibly busy over the last month or so and haven't really had the time.  That being said, I found a story I had to comment on: <a href="http://scitech.teambio.org/2007/07/14/windows-guy-tries-ubuntu-704/">Self-proclaimed Windows Guy tries Ubuntu Linux</a> and likes it!  It looks like Ubuntu is really making a splash on the desktop -- obviously I'm inclined to agree.  Maybe I'll have to give Vista a try at some point when I have a capable machine to spare.  I can write a similar review here.</p>

