---
layout: post
title: "2007 San Francisco LinuxWorld Expo"
date: 2007-08-10 22:04:53 +0000
permalink: /2007/08/10/2007-san-francisco-linuxworld-expo/
category: Linux
redirect_from:
  - /blog/2007-san-francisco-linuxworld-expo/
---
<p>I just returned from the 2007 LinuxWorld Expo in San Francisco.  This was my first LWE, and I had a great time.  I was out there on behalf of <a href="http://linuxquestions.org">LinuxQuestions.org</a>, the Linux community site I am a moderator on.  Though more business- than community-oriented, it's still a great event to get to know others in the Linux community and marketplace as well as keep up on the latest technology (how anyone keeps up on it ALL is beyond me).</p>
<!--more--><p>I finally had a chance to meet some of the moderators, which I hadn't done (despite living in the same city as two of them).  Both Jeremy (the site admin/founder) and J.W. were there for the event.</p>
<p>Other Linux-celebrities present included Don Marti (LinuxWorld.com), Jeremy Allison (SAMBA), and the XO notebook (from the OLPC project -- it probably got more attention than any person did).  Some of the corporate highlights include the guys at Untangle (blow it up!), the ever-pervasive Novell, Canonical/Ubuntu, and Dell's notable presence given their new Linux offerings.  Fedora, Creative Commons, EFF, FSF, Debian, Gentoo, handhelds.org, and (of course) LinuxQuestions.org all made an appearance in the .org pavilion for non profits.</p>
<p>OpenMoko was also there demoing the Neo1973, the world's first fully open-source cellular phone.  It supports GSM/GPRS and the next version will include full 802.11b/g wifi support.  Everything but the GPS and GSM chips are fully available to the public.  The phone, by its nature, will be network-unlocked and fully open to developers when the production version ships in October.</p>
<p>The network connections provided were surprisingly bad, given the nature of the conference.  In the .org pavilion it was a single hard-wire ethernet per booth that seemed to get a rate of around 12kBps.. not exactly blazing fast.  It seemed as though the whole .org pavilion was sharing a single DSL line.  (No proof to back that up).</p>
<p>I'll post some pictures later, but I'm not sure if I'll be able to post any of the LQ guys... we'll see how the others feel on the matter first.  I wish I had gotten a picture of just me at the booth or the LWE sign, but I didn't think about that until after the conference.</p>
<p>Based on this experience, I'm really excited about the possibility of going to SCALE, the Southern California Linux Expo.  It's in February and seems even more community oriented: I got to meet some of the organizers and they're really on top of things.</p>
<p>It's interesting to note just how quickly they start tearing down the conference.  It closed at 4pm on Thursday and by 4:05, the carpet was coming up from the aisles.  Really impressive that nobody gets hurt with all the heavy machinery and people running around.</p>
<p>I'll edit more if I have more thoughts later, but right now this is just an effort to get it all down before I forget things.  Sorry if it's a bit incoherent.</p>

