---
layout: post
title: "Circuit City: Incompetence or Negligance?"
date: 2007-05-05 21:43:05 +0000
permalink: /2007/05/05/circuit-city-incompetence-or-negligance/
category: Personal
redirect_from:
  - /blog/circuit-city-incompetence-or-negligance/
---
<p><strong>Note:</strong> While I try to keep entries here technical in nature, I feel that this warrants discussion and is relevant to the technical/Linux community.</p>
<p>Yesterday, my brother ordered a digital camera (Samsung S730, works great with Linux) package, including a 512MB SD card, from CircuitCity.com using the "in-store pickup" option.  Upon his arrival at the store, the employees attempted to give him only the Camera and not the card.  When he asked them to correct this, they told him him they would reverse the original transaction and process a new one at the original price. Eventually, (after much complaining about how this would screw up their inventory system) they were able to process this, however it was run as a second transaction.  As of today, his credit card shows two $140 charges from Circuit City.  Circuit City online technical support tells him there is nothing they can do, that the refund <em>should</em> process in 3-5 days.</p>
<p>How can a company be run so badly that employees in the store cannot simply process an <strong>already complete</strong> online order by simply getting the items to the customer? I have had reservations about Circuit City before, but now I will not be shopping with them, and I encourage you to do the same.</p>

