---
layout: post
title: "Linux Forecast"
date: 2007-08-16 17:56:47 +0000
permalink: /2007/08/16/linux-forecast/
category: Linux
redirect_from:
  - /blog/linux-forecast/
---
<p>The Linux Foundation has started publishing a <a href="http://www.linux-foundation.org/en/Linux_Weather_Forecast">Linux Weather Forecast</a> -- a summary of ongoing development in the Linux community and predictions for forthcoming developments and technologies.  It's a very cool snapshot/summary of development, and it's presented in a very understandable manner.</p>

