---
layout: post
title: "Linux Driver Development Bears Fruit"
date: 2007-05-23 08:34:33 +0000
permalink: /2007/05/23/linux-driver-development-bears-fruit/
category: Linux
redirect_from:
  - /blog/linux-driver-development-bears-fruit/
---
<p>Kernel Developer Greg Kroah-Hartman's offer to develop drivers for hardware vendors just from specifications is beginning to pay off.  The offer, first touted as mere marketing hype, has already added a driver to the kernel and has at least five more in progress.  For details: <a href="http://www.linuxworld.com.au/index.php/id;58590129;fp;16;fpid;0">http://www.linuxworld.com.au/index.php/id;58590129;fp;16;fpid;0</a></p>

