---
layout: post
title: "DD-WRT licensing issues"
date: 2007-04-24 11:45:26 +0000
permalink: /2007/04/24/dd-wrt-licensing-issues/
category: Linux
redirect_from:
  - /blog/dd-wrt-licensing-issues/
---
<p>My router is scheduled to arrive on Wednesday (my birthday), so I'm pretty excited about that.  However, after seeing <a href="http://xwrt.blogspot.com/2007/02/dd-wrt-continues-to-exploit-free-open.html">this rant</a>, I'm leaning more towards OpenWRT instead of my original plans for DD-wrt.  They seem to support similar feature sets, but I'd like something I can work on and modify to my own needs, without worrying about the mixed licenses.  I'd like to see multiple SSID support (with different crypto, vlans, etc.) and a handful of other commercial-grade features.  Hopefully I can get involved in some of the development there as well.</p>

