---
layout: post
title: "Microsoft Employee switches to Linux"
date: 2007-04-30 01:39:10 +0000
permalink: /2007/04/30/microsoft-employee-switches-to-linux/
category: Linux
redirect_from:
  - /blog/microsoft-employee-switches-to-linux/
---
<p>A Microsoft employee wondering why he had lost his creativity found a solution: <a href="http://makingtheswitch.wordpress.com/2007/04/28/when-did-i-become-such-a-tool/trackback/">he switched to Linux</a>.  I think this is enlightening on both operating systems and on corporate culture in general.</p>

