---
layout: post
title: "A Linux Conference in Atlanta?"
date: 2007-12-31 17:56:52 +0000
permalink: /2007/12/31/a-linux-conference-in-atlanta/
category: Linux
redirect_from:
  - /blog/a-linux-conference-in-atlanta/
---
<p>From 1996 to 2001, Atlanta played home to the Atlanta Linux Showcase.  Linux has certainly gained a substantial following since 2001, and I think it's about time that we bring a conference back to the Southeast.  LinuxWorld Expo has made several appearances in Boston, San Francisco, and elsewhere, but the Southeastern US has been overlooked.  Sure, we have PhreakNIC (Tennessee), CarolinaCon (NC), and others, but none of them focus on Linux or Open Source, and they all miss Atlanta, a hotbed of business and IT in the Southeast.</p>
<p>I'm interested in forming a new conference here in Atlanta to focus on Linux and Open Source software.  I'd like to make it user-oriented with a focus on home and small/medium business (corporate users probably look for bigger events like LWE).  I'd like to see involvement from local LUGs and other organizations.  Mostly I'd like to see the exposure for all aspects of this.</p>
<p>Students for Open Source at Georgia State can help in arranging the use of GSU facilities to organize the event.  Additionally, cross-promotion within our departments can help to get speakers and equipment needed for the event.</p>
<p>If anyone else is interested in seeing something like this, let me know.  Either leave a comment here or email me at david -at- webgroup (dot) org.</p>

