---
layout: post
title: "iPhone Lawsuit: What are they thinking?"
date: 2007-10-06 23:57:29 +0000
permalink: /2007/10/06/iphone-lawsuit-what-are-they-thinking/
category: Misc
redirect_from:
  - /blog/iphone-lawsuit-what-are-they-thinking/
---
<p>For anyone who knows me, they know I'm all for Open platforms and open source.  So it probably comes as a surprise to hear me supporting Apple when they're being sued over bricked iPhones.  But I am.</p>
<p>When a customer buys an iPhone, they AGREE not to attempt to modify it.  The warranty SPECIFICALLY excludes modifications, as does the software EULA.  They also agree to a 2-year contract with AT&amp;T.</p>
<p>Apple does not have a monopoly on the smart phone market, so this hardly amounts to an anti-competitive practice.   You can buy a Treo, or any number of Windows Mobile devices, or even the upcoming Neo 1973.</p>
<p>These people make a mockery of the American civil courts system.  Essentially, they agree to a contract, knowing the terms of the contract, and then they run to the courts asking them to invalidate the contract.  Perhaps some people are just too stupid to own an iPhone.    I hope they get kicked out of the courtroom with nothing but a bill for Apple's attorneys.</p>

