---
layout: post
title: "OpenWRT on WRT54GL"
date: 2007-04-26 07:29:40 +0000
permalink: /2007/04/26/openwrt-on-wrt54gl/
category: Linux
redirect_from:
  - /blog/openwrt-on-wrt54gl/
---
<p>My WRT54GL arrived today (nice little birthday gift) and I promptly installed OpenWRT on it.  It was an incredibly simple process, just download a file and upload it to the router as a new firmware.  Very straightforward.</p>
<p>The configuration is amazingly flexible, though you do need to be comfortable with the shell to get the most out of it.  In most cases, you can find a tutorial on the OpenWRT wiki to walk you through the necessary steps.  Most tutorials literally provide you with each command.</p>
<p>What I'd eventually like to do is this: set up the router to have two SSIDs, one for private use and one for when friends, etc. come over. The trick is to have different encryption schemes, authentication, and routing schemes.</p>
<p>One other thing I need to do is completely revamp my firewalling policy on my desktop and laptop.  I don't need tight filters, but I do need to not trust supposedly-local IPs as much.</p>
<p>So, coming soon, Network 2.0 :)</p>

