---
layout: post
title: "IP Holding Firms: The Real Threat"
date: 2007-05-21 18:37:29 +0000
permalink: /2007/05/21/ip-holding-firms-the-real-threat/
category: Misc
redirect_from:
  - /blog/ip-holding-firms-the-real-threat/
---
<p>Mark Shuttleworth (Ubuntu Founder, Software Visionary, etc.) has posted <a href="http://www.markshuttleworth.com/archives/118/">an interesting piece</a> on why Microsoft is not a threat to Linux.  He argues that the big threat to Linux (and Microsoft) are the IP holding firms, who essentially exploit the weak IP/patent system we have here in the US.  He makes a clear case why Intellectual Property and Patent Law reforms are necessary to the continued development of software and technology.</p>

