---
layout: post
title: "Gutsy is HERE!"
date: 2007-10-18 15:35:27 +0000
permalink: /2007/10/18/gutsy-is-here/
category: Linux
redirect_from:
  - /blog/gutsy-is-here/
---
<p>Ubuntu Linux 7.10, the "Gutsy Gibbon", has arrived!  The mirrors are being hammered, so please use the torrents if possible.  Downloads are at: <a href="http://www.ubuntu.com/getubuntu/download" title="http://www.ubuntu.com/getubuntu/download">http://www.ubuntu.com/getubuntu/download</a>.  This version of Ubuntu Linux comes with several nice features in addition to the stability that Ubuntu is known for.</p>
<ul><li>3D Desktop Effects</li>
<li>Tracker Desktop Search</li>
<li>Fast User Switching</li>
<li>Dynamic X Configuration (Multi-monitor support, rotation, etc.)</li>
<li>True Printer Autoconfiguration</li>
<li>NTFS Write Support</li>
<li>Encrypted Hard Disk Support</li>
<li>Major Ubuntu Server Changes</li>
</ul>
