---
layout: post
title: "AOL: 8 Character Passwords?"
date: 2007-05-07 04:33:16 +0000
permalink: /2007/05/07/aol-8-character-passwords/
category: Security
redirect_from:
  - /blog/aol-8-character-passwords/
---
<p>A lot of people probably thought that AOL would be a company to keep with the times.  Apparently not, since <a href="http://blog.washingtonpost.com/securityfix/2007/05/aols_password_puzzler.html">their system only uses the first 8 characters of a password</a>, silently discarding anything else.  Sounds like a sense of false security to me.</p>

