---
layout: post
title: "How the Ubuntu/Dell deal will impact the market"
date: 2007-05-08 03:47:31 +0000
permalink: /2007/05/08/how-the-ubuntudell-deal-will-impact-the-market/
category: Misc
redirect_from:
  - /blog/how-the-ubuntudell-deal-will-impact-the-market/
---
<p>Ubuntu founder Mark Shuttleworth has an <a href="http://www.markshuttleworth.com/archives/114/trackback/">excellent blog entry</a> describing the way the Ubuntu/Dell deal will impact driver development, Dell's business, and Linux in general.  Most notable is his assertion that the "free software approach is a better device driver development model" than the closed-source model.  I wholehartedly agree with this, because once a driver is mainlined in the kernel, the kernel devs maintain the driver interface to the kernel.  The only work left for the hardware vendor is supporting their hardware.</p>

