---
layout: post
title: "Microsoft is 'not litigating'"
date: 2007-05-15 03:29:18 +0000
permalink: /2007/05/15/microsoft-is-not-litigating/
category: Linux
redirect_from:
  - /blog/microsoft-is-not-litigating/
---
<p>Microsoft's VP for Intellectual Property <a href="http://www.informationweek.com/news/showArticle.jhtml?articleID=199501831">has announced</a> that Microsoft has no intent of litigating against Linux users.  So why the recent announcement of the number of patents they feel Linux and Linux distributions infringe on?  They want to spread the usual round of FUD -- fear, uncertainty, and doubt -- to encourage business who might be afraid of litigation to choose Windows over Linux.  Nice marketing strategy, don't you think?</p>
<p>I just noticed that declanmcgrath has a similar theory over on <a href="http://declanmcgrath.wordpress.com/2007/05/15/microsoft-not-so-sure-on-taking-on-world/">his blog</a>.  Guess it's seeming pretty obvious to the Free world.</p>

