---
layout: post
title: "Michael Dell runs Linux!"
date: 2007-04-29 22:22:58 +0000
permalink: /2007/04/29/michael-dell-runs-linux/
category: Linux
redirect_from:
  - /blog/michael-dell-runs-linux/
---
<p>Michael Dell (Chairman of Dell Computer) runs Linux, as evidenced by his <a href="http://www.dell.com/content/topics/global.aspx/corp/biographies/en/msd_computers">computer profile</a>.  Pretty cool, and might explain the move to increased support for Linux.  That being said, it'll probably still be a while before we see pre-installed Ubuntu laptops from Dell.  We can only hope.  :)</p>

