---
layout: post
title: "Why the AACS key is not about piracy."
date: 2007-05-08 19:41:39 +0000
permalink: /2007/05/08/why-the-aacs-key-is-not-about-piracy/
category: Misc
redirect_from:
  - /blog/why-the-aacs-key-is-not-about-piracy/
---
<p>The leaking of the AACS key, for many users, is not about piracy or even the ability to make 'backups' of HD-DVD disks.  Like the issue surrounding DeCSS, it is about the ability to use content on a variety of platforms.  I would like to build a home theater PC running MythTV.  Perhaps I'd like that HTPC to be able to play HD-DVDs.</p>
<p>It is not even a fanatical view of Free software that encourages the distribution of this key.  Many Linux users would be satisfied with a HD-DVD and DVD codec that is no-cost and works with existing software.</p>
<p>For these same reasons, I oppose most DRM. If I pay for the content, why should I not be able to play it when and where I want? The fear of piracy has caused the content producers to treat everyone like criminals.  Whether or not we have actually done any harm, we are restricted to what they want us to do with "their" content.</p>
<p>Until the AACS-LA (and the entertainment industry in general) understands these issues, it seems like the solution may be to only purchase content in DRM-free form from Independent artists and studios.</p>
<p>If they treat us like pirates, we are forced to act like pirates to protect our Fair Use Rights.</p>
<p><a href="http://digg.com/tech_news/Digg_This:_09-f9-11-02-9d-74-e3-5b-d8-41-56-c5-63-56-88-c0">The infamous Digg post</a></p>
<p><a href="http://www.jinx.com/scripts/details.asp?productID=992">Show your support of freedom of speech</a></p>
<p><strong>Edit:</strong> Oh, and Mark Shuttleworth has it again: <a href="http://www.markshuttleworth.com/archives/96/">DRM doesn't work.</a> Who'd have guessed that the leader of the fastest-growing Linux distribution would understand the digital media market?  I'm glad someone has some sense.</p>

