---
layout: post
title: "Linux and Software Patents"
date: 2007-05-14 15:05:44 +0000
permalink: /2007/05/14/linux-and-software-patents/
category: Linux
redirect_from:
  - /blog/linux-and-software-patents/
---
<p>Several news outlets are reporting that Microsoft <a href="http://www.informationweek.com/news/showArticle.jhtml?articleID=199501578">has put a specific number</a> on the patents they claim Linux infringes upon.  To some, this may seem like a move by Microsoft towards some form of legal action, or even a risk to the longevity of Linux.  I do not believe this to be the case for a number of reasons, but I must first make the usual disclaimers: I am not a lawyer, I do not play one on TV, and any Linux user concerned about their rights should consult a lawyer.</p>
<ol><li>Microsoft has previously had <a href="http://news.com.com/Microsofts+Linux-related+patents+rejected/2100-7344_3-5889308.html">patents invalidated</a> where prior art existed.  Some of the Microsoft patents probably fall into this category, particularly if they were filed after the supposed infringement occurred.   In order to protect intellectual property, you would have to have your patent application file before anyone else duplicates your work.</li>
<li>Software patents in themselves are basically ridiculous because the idea of patenting software is like patenting a language or a screwdriver.  Software (and, by extension, computers) should not be seen as an end.  They are a tool to get things done.  Furthermore, software MUST be able to inter-operate and that requires the ability for multiple developers to implement the same protocols and formats.  At present, the European Union does not even allow software patents. The US supreme court has (fortunately) never upheld that software patents are specifically permitted under US law.</li>
<li>The whole idea that patents are needed to protect the market is ridiculous.  Copyright can protect a particular implementation, preventing anyone from being able to copy</li>
<li>Linux is too important to be completely destroyed in a patent war.  Too many large companies use it and don't want to see it disappear.  Google runs all its data centers on Linux, which is good because it needs high reliability and uptime, something Microsoft software doesn't seem to offer.  LucasArts and Pixar run their 3-D rendering farms on Linux.  Dozens of other fortune 500 companies run Linux.  IBM, Red Hat, Novell and others have stood up to SCO over claims of copyright infringement, so the battle with Microsoft will be nothing new to them.  I imagine Canonical will also enter the ring at some point.</li>
<li>By extension of #4, Linux is too important <em>to Microsoft</em>.  That's not because of some patent royalties, either.  The importance of Linux comes from its position as Microsoft's whipping boy.  Microsoft can blame a number of problems on "open source hackers."  Linux is also a more legitimate server operating system than Apple's OS X, helping Microsoft deftly avoid some of the laws regarding monopolies.  Let's not forget that they were sued in the late 90s by several states and the US Department of Justice for violating anti-trust law.  Let's also keep in mind that they are currently negotiating a settlement of fines with the European Union for similar business practices.</li>
<li>If Microsoft files a lawsuit against Linux users, they may open themselves to many forms of retaliation, including businesses completely dumping Microsoft software, counter-suits from other Linux users wishing to clearly establish their legal right to use Linux, and a public relations nightmare.  In all likelihood, they would end up losing more than they could hope to gain.</li>
</ol><p>Why should software be all about business, anyway?  Why should hobbyists and small developers be restricted from making something that works with other software?  Microsoft is simply another case of corporate America looking for more money.  Most notably, Steve Ballmer comes across as an unethical, arrogant, and self-serving "suit".</p>
<p>Software patents restrict choice to give rich executives a few more dollars.  If Microsoft had it their way, we'd have to pay for each reboot of our computers: and with their software, Bill Gates himself could not afford that.</p>
<p><strong>Edit:</strong> Growler knows what he's talking about when he says <a href="http://tiltingatwindmills.wordpress.com/2007/05/14/the-battle-for-intellectual-freedom/">Microsoft takes on the free world</a>.</p>

