---
layout: post
title: "Windows Vista = BSoD"
date: 2007-08-22 23:56:15 +0000
permalink: /2007/08/22/windows-vista-bsod/
category: Misc
redirect_from:
  - /blog/windows-vista-bsod/
---
<p>My brother just got a new HP notebook computer running (what else) Windows Vista. (Home Premium, if anyone cares.)  He was forced into the purchase after his previous notebook (and only computer) crashed on Sunday.  Within the first 24 hours of use, Windows Vista had already presented him with the infamous Blue Screen of Death.  Despite all of Microsoft's best efforts, it would seem that Windows Vista (running on Vista-certified hardware) still has stability issues.</p>
<p>He's since obtained a copy of the AMD64 build of Ubuntu Linux from me.  Seems like a decent solution to me.</p>

