---
layout: post
title: "Why LinuxQuestions.org?"
date: 2007-05-12 06:53:54 +0000
permalink: /2007/05/12/why-linuxquestionsorg/
category: Linux
redirect_from:
  - /blog/why-linuxquestionsorg/
---
<p>Sorry for the lack of updates lately, things have been crazy.</p>
<p>I wanted to take a moment to explain why I have been a member of <a href="http://linuxquestions.org">LinuxQuestions.org</a> for several years, and a moderator for about a year, and also what it's all about.  </p>
<!--more--><p>
I started visiting LinuxQuestions (LQ) back when I first needed help for some Linux issues I was having.  Then, reading some other threads, I realized I knew the answer.  Perhaps it was a desire to help, perhaps it was a desire to show off.  Whatever the reason, I answered those threads.  I then began to encounter threads where I <strong>almost</strong> knew the answer, so I found the details.  I realized that solving problems for others scratched my "hacker" curiosity: for interesting threads, I could solve a problem and contribute to a community.</p>
<p>It is then that I realized what LinuxQuestions is about.  It's not about questions or answers, it's about people.  It's about people contributing to a community and to a movement.  It's a contribution of time, effort, and knowledge.  I get no tangible benefit out of answering questions, but I do it because it's my way of being a part of something bigger than any of us there.</p>
<p>A little less than a year ago, I received an email from Jeremy, the founder and owner of LQ, asking me if I would be interested in joining the moderation team.  I recognized that this was an opportunity to do more to foster the community spirit at LQ.  Not only could I continue to provide technical help, but I could take steps to ensure the continued success of LQ.  The moderation team at LinuxQuestions is a group of the most talented and hardworking individuals I have ever met (even if only online).  Most moderators have successful jobs and a family and still find time to help members and fight the constant onslaught of unsolicited commercial messages (SPAM).</p>
<p>Do moderators have the answer to every question?  No.  If we did, should we be expected to answer every thread?  No.  We're not paid support, and the questions far outweigh what the moderators could possibly handle.  The community is the backbone at LinuxQuestions.  I'm just glad that I have had the opportunity to work with the moderation team.</p>

