---
layout: post
title: "Mozilla Firefox EULA"
date: 2008-09-16 14:19:24 +0000
permalink: /2008/09/16/mozilla-firefox-eula/
category: Misc
redirect_from:
  - /blog/mozilla-firefox-eula/
---
<p><a href="http://news.zdnet.com/2424-9595_22-221426.html">There's been</a> a <a href="http://blog.lizardwrangler.com/2008/09/15/ubuntu-firefox-and-license-issues/">lot of talk</a> <a href="http://arstechnica.com/news.ars/post/20080915-ubuntu-firefox-eula-dustup-reignites-oss-licensing-debate.html">lately about</a> Mozilla asking that <a href="https://bugs.launchpad.net/ubuntu/+source/firefox-3.0/+bug/269656">Ubuntu display the Firefox EULA</a> to protect their trademarks.</p>
<p>Mark Shuttleworth, the founder of Ubuntu, wrote:</p>
<blockquote><p>Mozilla Corp asked that this be added in order for us to continue to call the browser Firefox. Since Firefox is their trademark, which we intend to respect, we have the choice of working with Mozilla to meet their requirements, or switching to an unbranded browser. [...]</p>
<p>I think it's perfectly reasonable for Mozilla to have requirements and guidelines for the use of their trademark [...] That said, I would not consider an EULA as a best practice. It's unfortunate that Mozilla feels this is absolutely necessary, but they do, and none of us are in a position to be experts about the legal constraints which Mozilla feels apply to them.[...]</p>
<p>Please feel free to make constructive suggestions as to how we can meet Mozilla's requirements while improving the user experience. It's not constructive to say "WTF?", nor is it constructive to rant and rave in allcaps. Your software freedoms are built on legal grounds, as are Mozilla's rights in the Firefox trademark. To act as though your rights are being infringed misses the point of free software by a mile.</p></blockquote>
<p>I have to completely agree with this.  The reaction of the community is, in some cases, completely irrational.  People 'threaten' to fork Ubuntu if this EULA is displayed; people state they have to use another distribution because Ubuntu is not listening, etc., etc.  What people somehow don't get is that it's NOT Ubuntu's choice: they can either ship FF with the EULA popup or remove all branding and ship it under another name (ala Iceweasel), which would probably be a slight burden to Ubuntu adoption.  (People migrating from Windows would have no idea what Iceweasel is.) I do think it's somewhat shortsighted of Mozilla to feel that an EULA is necessary to call the browser 'Firefox', but that's the route they've chosen.  If you don't like the EULA, you can choose to install the 'abrowser' package or another browser.</p>
<p>Unfortunately for me, I don't see a lot of choice but to use Firefox or abrowser: I regularly use a half-dozen extensions (Ubiquity, NoScript, Ad Block Plus, Web Developer Toolbar, UnMHT, etc.), and I don't know of any other browser with that sort of flexibility.  Midori, the alternative browser in Gnome in Intrepid, seems to have a seriously hard time rendering some pages, and I haven't even thought about trying Flash in it.</p>
<p>It also makes me begin to think about alternative e-mail clients.  Can anyone recommend a client that supports GPG signing/encryption, multiple address books, and can import from Thunderbird?  It would also need to support something similar to Thunderbird's identities, as I use multiple e-mail addresses associated with a single account (as well as multiple accounts).</p>
<p>I'm a complete fan of open source, but I also realize that Mozilla has to protect its brand.  Mozilla is a business that has funded a great deal of Open Source Development, and that wouldn't have been possible without the partnership with Google and other aspects of the Firefox brand.  Software companies have to generate a stream of revenue somehow, and I think the people who are using the Launchpad bug as a forum are missing that.</p>

