---
layout: post
title: "File System Organization"
date: 2008-10-08 20:45:28 +0000
permalink: /2008/10/08/file-system-organization/
category: Misc
redirect_from:
  - /blog/file-system-organization/
---
<p>For some reason, I have a habit of placing all kinds of random files throughout my home directory on my laptop.  Sometimes things end up in ~/Documents, other times ~/Desktop, and still others just in ~.  <strong>This is bad.</strong></p>
<p>My desktop, on the other hand, I keep squeaky clean.  On the other hand, I sometimes have related files on my laptop and desktop... so even more filesystem mayhem.</p>
<p>So I think I need a good way to manage my laptop files.  First off, more self discipline.  :)  Secondly, I'm thinking of a small utility to merge files between two systems.  Perhaps some sort of bi-directional rsync based on modified dates?  Maybe also a method for mapping particular files/directories on one system to the other.  From the days of Windows 9x, I remember something like Windows Briefcase (if that's what it was called) and it now seems like a decent idea.  Anyone know of this?  If not, maybe it's time to learn some Glade and pyGTK.</p>

