---
layout: post
title: "Kubuntu Issues"
date: 2008-10-09 19:32:29 +0000
permalink: /2008/10/09/kubuntu-issues/
category: Linux
redirect_from:
  - /blog/kubuntu-issues/
---
<p>I was inspired by Jono Bacon's post <a href="http://jtechinda.blogspot.com/2008/10/kubuntu-blue-headed-stepchild.html">here</a> and "<a href="http://jtechinda.blogspot.com/2008/10/kubuntu-blue-headed-stepchild.html">Kubuntu, the Blue-Headed stepchild</a>".  This started as a response to the latter, but I decided this is a better venue.</p>
<p>My experience with Kubuntu has been frustrating, to say the least, and I doubt it has much to do with the Ubuntu team.  Firstly, the insistence on making everything "big" drives me crazy.  How can I use KDE when it won't let me resize panels?  I also can't find a way to create custom launcher icons on the panels (in gnome, I have a few set up to open ssh connections I use very often).</p>
<p>Also, how can I get a functional Application menu in Kubuntu that has proper icons and does not replace one menu section with another?  It's ridiculous that it hides the list of application categories to display the applications themselves, unless the user is supposed to always know what category something is in.</p>
<p>Basically, I completely agree with the comments posted here: <a href="http://meta.ath0.com/2008/01/18/kde-4-ui-critique/">http://meta.ath0.com/2008/01/18/kde-4-ui-critique/</a> and am wondering if anyone knows of ways to work around them.</p>

