---
layout: post
title: "British Police Don't Know Difference Between MP3 Player and Gun"
date: 2008-02-13 19:27:28 +0000
permalink: /2008/02/13/british-police-dont-know-difference-between-mp3-player-and-gun/
category: Misc
redirect_from:
  - /blog/british-police-dont-know-difference-between-mp3-player-and-gun/
---
<p>[Normally, I stay away from politics on this blog, but this one is just over the top]</p>
<p>It seems that the British were taking notes when they invaded Germany in the 1940s -- it's time to throw civil liberties to the wind and throw people in jail for nothing, just <i>in case</i> they might try something later.  A <a href="http://www.dailymail.co.uk/pages/live/articles/news/news.html?in_article_id=513875&amp;in_page_id=1770">man was arrested</a>, fingerprinted, and DNA tested because the police are too blind to tell the difference between a gun and an MP3 player.  Additionally, once they realized they had made fools of themselves, they couldn't even offer a proper apology.  Oh, and in case anyone was missing it, they tracked him on CCTV cameras the whole way.  It wouldn't quite be a police state if we couldn't watch everyone at every second, now would it?</p>

