---
layout: post
title: "What Civil Liberties do we have left?"
date: 2008-07-10 16:04:57 +0000
permalink: /2008/07/10/what-civil-liberties-do-we-have-left/
category: Misc
redirect_from:
  - /blog/what-civil-liberties-do-we-have-left/
---
<p>I know my blog is long overdue for an update, so this issue really got me started again.</p>
<p>After the Senate's complete ignorance of anything remotely resembling the American Constitution, they voted 69-28 to <a href="http://www.politico.com/static/PPM104_080619_fisapromise.htm">grant telecom companies immunity</a> for their role in illegal and unethical wiretaps.  Looks like it's now okay to monitor communications without a proper warrant.  (The lack of warrant, admittedly, has more to do with the USA Patriot act than the FISA amendment.)</p>
<p>Sen. Obama, the presumed Democratic nominee for President, voted for the amendment.  Looks like his campaign speeches about civil liberties in this country don't extend quite so far as the Senate floor.  Perhaps he thought that he would be labeled as un-patriotic for supporting the Constitution.  In any case, I had been prepared to support Sen. Obama, however his vote on this issue and changes in his speeches since Sen. Clinton dropped out of the race has made me significantly question that.  Maybe he'd like to use the Constitution for White House toilet paper, if he makes it there.</p>
<p>Also notable is that Sen. McCain couldn't even be bothered to vote.  I guess he had better things to do, like the never-ending presidential campaign.  Or, perhaps, it just escaped his elderly mind, as things like the Bill of Rights and your job as a United States Senator tend to do once you reach his age.</p>
<p>In any case, it's a shame that there's no Presidential candidate who wants to support the people.  Instead, we will continue to have a country driven by a fear of 3rd-world people hiding in caves and remote villages in the Middle East.</p>

