---
layout: post
title: "January LoCo F2F: Success!"
date: 2008-01-13 19:27:41 +0000
permalink: /2008/01/13/january-loco-f2f-success/
category: Misc
redirect_from:
  - /blog/january-loco-f2f-success/
---
<p>Well, I was finally able to make it to the LoCo (Local Community) F2F (Face to Face) meeting yesterday.  To me, it seemed to be a quite successful event.  About 16-18 people made it, which meant that we pretty much took over that entire wing of Mellow Mushroom.  The food was definitely top notch as well -- I had a great calzone.  It was really great to get a chance to know some of the people from the IRC, even if I didn't get a match between name and IRC nick in all cases.</p>
<p>In the future I (and some of the others) would also like to see meetings with activities or presentations.  One idea that was tossed around was an open-source LAN party.  We could break out games like openarena, tremulous, and others.  Hopefully some of these ideas will come together.</p>

