---
layout: post
title: "SSH and GPG"
date: 2008-09-16 04:43:58 +0000
permalink: /2008/09/16/ssh-and-gpg/
category: Security
redirect_from:
  - /blog/ssh-and-gpg/
---
<p>This weekend I'm going to be presenting a demo on ssh/gpg (e.g., cryptography and secure communications on Linux) at the <a href="http://atlantalinuxfest.org/">Atlanta Linux Festival</a>.  Some of the things I intend to cover include:</p>
<ul><li>Basic SSH usage.</li>
<li>Public Key Authentication</li>
<li>SSH Tunneling</li>
<li>SSH Socks Emulation</li>
<li>GPG key generation</li>
<li>GPG signing and encryption (command-line)</li>
<li>Thunderbird integration (enigmail)</li>
</ul><p>If anyone has any input on additional points to be covered or anything of that nature, please drop me a comment here or send me an email at david -at- webgroup -dot- org.</p>

