---
layout: post
title: "A Case of the Mondays"
date: 2008-02-04 20:28:10 +0000
permalink: /2008/02/04/a-case-of-the-mondays/
category: Misc
redirect_from:
  - /blog/a-case-of-the-mondays/
---
<p>It seems like I have been hit with <a href="http://www.imdb.com/title/tt0151804/">a case of the mondays.</a>  My job (end user tech support at my school) sucks.  I don't mind helping people -- I love it in fact -- but I feel like a trained monkey sometimes.  90% of my time is spent resetting passwords.</p>
<p>In any case,  I am usually able to combat this with some of my entertainment sites (see below for the curious), but lately I've been looking more for a project to work on.  My learning process is heavily tied to getting something done -- I can read a book on Python (or whatever), but for me to understand it, I need a real-world project using it to work on.  No "hello world" application can grab my interest enough.  Perhaps it's some form of ADD.</p>
<p>So what does this all mean?  I'm becoming restless.  I need a project.  I've tried looking into becoming a MOTU, but I'm not sure I fully understand the process (and it's hard to fix bugs in apps I don't even use).  Something practical and useful, but not so large as to stretch into months or years.  (At least, I'd like something I can make progress on before months or years.)</p>
<p>Any ideas on ways to combat this crappy boredom?</p>
<!--more--><p>FYI, these are the sites that typically amuse me somewhat:</p>
<ul><li><a href="http://ctrlaltdel-online.com">CTRL-ALT-DEL Comics</a></li>
<li><a href="http://userfriendly.org">User Friendly</a></li>
<li><a href="http://computerworld.com/sharky">Shark Tank</a></li>
<li><a href="http://dilbert.com">Dilbert</a></li>
<li><a href="http://phdcomics.com">Piled Higher and Deeper (Ph.D. Comics)</a></li>
<li><a href="http://planet.ubuntulinux.org">Planet Ubuntu</a></li>
<li><a href="http://blogs.ittoolbox.com/security/investigator/archives/official-securitymonkey-case-file-index-14787">Security Monkey Archives</a></li>
<li><a href="http://theregister.co.uk/odds/bofh">Bastard Operator from Hell</a></li>
</ul>
