---
layout: post
title: "Why Windows Vista Content Protection, well, sucks."
date: 2008-01-04 18:53:57 +0000
permalink: /2008/01/04/why-windows-vista-content-protection-well-sucks/
category: Misc
redirect_from:
  - /blog/why-windows-vista-content-protection-well-sucks/
---
<p>Peter Gutmann has done an <a href="http://www.cs.auckland.ac.nz/~pgut001/pubs/vista_cost.html">amazing analysis</a> of the costs and issues involved with the "Content Protection" scheme in Microsoft's Windows Vista (<a href="http://www.cypherpunks.to/~peter/vista.pdf">slides</a>).  Essentially, if you want to use multimedia, you can only use it how the movie industry says you can.  NetFlix <a href="http://yro.slashdot.org/article.pl?sid=08/01/03/2339248">has given in to that</a>, producing (along with Microsoft) a tool that effectively strips your fair use rights.  It's amazing how we've all become criminals of the information age.  I guess it's only the information age for those who are willing to spend the money.</p>

