---
layout: post
title: "Insulting Microsoft: Why we're just insulting ourselves."
date: 2008-01-14 15:55:51 +0000
permalink: /2008/01/14/insulting-microsoft-why-were-just-insulting-ourselves/
category: Linux
redirect_from:
  - /blog/insulting-microsoft-why-were-just-insulting-ourselves/
---
<p>Melissa Draper has <a href="http://www.geekosophical.net/?p=173">recently posted</a> about the damage done to the FOSS community by the use of terms such as "Micro$oft" and "MicroShaft".  I've probably been guilty of this a time or two, but I have tried to avoid it in recent use, as it does make the Open Source Community look, well, stupid.</p>
<p>The community needs to put on a better image.  We should not sink to the FUD levels that Microsoft uses, and should certainly not draw more attention to Microsoft with "clever" names.  Just think about the reaction from the open source community if a Microsoft blogger called Linux "Lusernux" or something similar.</p>
<p>Open Source Developers have spent a lot of time trying to demonstrate the professionalism of the software and content produced by the community.  Those with a narrow mind who insult our competition undermine that work.   Seriously consider the image that you are presenting when you write.  Closed communications have a way of becoming public.</p>

