---
layout: post
title: "Cross-Platform Photo Tagger"
date: 2008-09-11 17:37:45 +0000
permalink: /2008/09/11/cross-platform-photo-tagger/
category: Linux
redirect_from:
  - /blog/cross-platform-photo-tagger/
---
<p>I'm apparently looking for the impossible.  I want a cross-platform photo manager/tagger that can support concurrent access to a network share.</p>
<p>Here's the backstory:<br />
My girlfriend and I occasionally travel and we take a LOT of pictures.  (Hey, digital cameras make it so easy, right?)  In the 4 years we've been together, I would say we have ca. 10,000 images.  And they're all sitting on a shared drive off my desktop.  They're in directories on a per-trip basis, but not really organized beyond that, so finding a photo involves scrolling through thumbnails: sometimes as many as 1000.  What I'd like to be able to do is access this share and tag the photos and be able to search through the tags.  Seems relatively straightforward, but since my girlfriend uses Windows, it needs to be cross-platform.  And I'd like it if it was (semi) stable if both of us access it at the same time.  I don't need photo editing, though I'd like to be able to directly open a local photo editor for cropping/other work.</p>
<p>Anyone know of something that meets these requirements?  If nothing can be found, I may end up implementing something in, say, Python, but I don't like to reinvent the wheel.</p>

