---
layout: post
title: "Linux wins at CES"
date: 2008-01-10 05:54:20 +0000
permalink: /2008/01/10/linux-wins-at-ces/
category: Linux
redirect_from:
  - /blog/linux-wins-at-ces/
---
<p>In case anyone missed it, <a href="http://www.engadget.com/2008/01/07/live-from-the-intel-sprint-asus-xohm-wimax-press-event/">Engadget is reporting</a> that the EeePC is Asus's most successful product ever.  This comes along with <a href="http://www.reuters.com/article/pressRelease/idUS49987+09-Jan-2008+PRN20080109">Everex's announcement</a> of their EeePC competitor, the CloudBook, which will run a Ubuntu-based distribution.  That's the same Everex that has been producing sub-$200 computers running gOS (Ubuntu-based) that <a href="http://www.gadgetell.com/tech/comment/wal-mart-selling-out-of-the-everex-gos-pc/">sell out at Wal-Mart</a>.</p>
<p>CES also brings us Linux's foray into the handheld gaming market in the form of the <a href="http://blog.wired.com/gadgets/2008/01/ces-2008-gp2x-l.html">GP2X</a>.  As <a href="http://www.linuxjournal.com/node/1006013">LinuxJournal predicted</a>, this year's CES is turning out to be a big one for Linux.</p>
<p><b>Addendum:</b> Shuttle <a href="http://www.news.com/8301-10784_3-9847365-7.html?part=rss&amp;tag=feed&amp;subj=NewsBlog">has announced</a> a $200PC to also run Linux.  Nothing fancy here: no optical drive, no PCI-Express, etc.  But should make a nice machine if you just need internet access, especially for those with space limitations.  Looks like it'll be a relatively low power consumer as well.</p>

