---
layout: post
title: "FCC Comments on Network Neutrality"
date: 2008-01-17 17:08:59 +0000
permalink: /2008/01/17/fcc-comments-on-network-neutrality/
category: Linux
redirect_from:
  - /blog/fcc-comments-on-network-neutrality/
---
<p>I just wanted to reiterate <a href="http://www.trausch.us/2008/01/17/network-neutrality/">Michael Trausch's</a> request that anyone concerned with their ability to use the internet freely should file a comment with the FCC on Network Neutrality (and Comcast's filtering, etc.)  See his post for directions on submitting a comment.</p>
<p>Here's what I had to say to the FCC:</p>
<blockquote><p>   	 	</p><title></title><!-- 		@page { size: 8.5in 11in; margin: 0.79in } 		P { margin-bottom: 0.08in } 	--><p style="margin-bottom:0;">Comments on FCC Docket 07-52:</p>
<p style="margin-bottom:0;">
</p><p style="margin-bottom:0;">
</p><p style="margin-bottom:0;">Network neutrality has been a key part of the internet since its invention.  Many technologies have originated from the ability to experiment and try new things on the internet.  The most successful economic boom in our country's history directly derived from the ability to use the internet as one saw fit.  Would we have had the economic growth of the late 90s without the ability to innovate new technologies like streaming media, web conferences, and open software development?</p>
<p style="margin-bottom:0;">
</p><p style="margin-bottom:0;">The idea that an Internet Service Provider can select what we, as consumers, are allowed to do without our consent is both harmful and insulting to the American spirit of exploration and innovation.  ISPs are expected to provide end-to-end connectivity of a certain bandwidth without interference.  Having an ISP perform filtering is akin to having roads that are only usable by people traveling to some destinations.  Such filtering limits the ability of the individual to communicate and sets a precedent similar to the Internet filtering in countries like Iran and China.</p>
<p style="margin-bottom:0;">
</p><p style="margin-bottom:0;">The Internet was built on an open platform based on information exchange and sharing.  It is important that the user be able to reap every possible benefit, especially since ISPs rely on the user for their economic lifeblood.  In no other industry would such interference with the customer be permissible.  The FCC must continue to uphold America's freedom to innovate, and the consumer's freedom of expression.</p>
<p style="margin-bottom:0;">
</p><p style="margin-bottom:0;">Sincerely,</p>
<p style="margin-bottom:0;">David Tomaschik</p>
</blockquote>
<p style="margin-bottom:0;"> </p>
<blockquote></blockquote>

