---
layout: post
title: "Life Changes"
date: 2009-02-22 02:23:14 +0000
permalink: /2009/02/22/life-changes/
category: Personal
tags:
  - Life
  - Work
redirect_from:
  - /blog/life-changes/
---
<p>A couple of updates, since it's been a while since I've posted anything meaningful.</p>
<p>On March 2nd, I will be starting a new job as an IT System Support Specialist III at Kennesaw State University.  Typical of a government job, the title is rather meaningless.  To be specific, I will be supporting a variety of Linux and Mac OS X servers for the university and the platforms running on them (Drupal, Moodle, and other technologies.)  The production servers are RHEL and the development is on CentOS.</p>
<p>Of course, every good turn comes with a down turn.  </p>
<!--more--><p>On Wednesday, I went to my doctor because of a little bit of abdominal pain for 2 days.  Because of the location of the pain, and a bit of an elevated white blood cell count, he sent me over to the ER to get an abdominal CT.  Turns out that my appendix was "slightly inflamed".  Long story short, about 10PM that night I was in the OR having my appendix removed.  It may be a common procedure, but the pain is still pretty decent.  Hopefully it will be gone before I have to start the new job.  And hopefully I won't have to do heavy lifting in the first couple of weeks of my new job.  :)</p>

