---
layout: post
title: "Automatic PPA Key Installation"
date: 2009-06-07 19:47:31 +0000
permalink: /2009/06/07/automatic-ppa-key-installation/
category: Misc
redirect_from:
  - /blog/automatic-ppa-key-installation/
---
<p>I often use a number of PPAs on one or more of my systems, such as FreeNX, Firefox dailies, Chromium dailies, etc.  I do like to use signed packages, even if they're automatically signed, but manually installing the PPA keys is a bit of a pain.  The Source Guru has a <a href="http://www.sourceguru.net/archives/212">solution</a>.</p>

