---
layout: post
title: "Depth of Knowledge vs. Breadth of Knowledge"
date: 2009-10-05 21:40:08 +0000
permalink: /2009/10/05/depth-of-knowledge-vs-breadth-of-knowledge/
category: Misc
redirect_from:
  - /blog/depth-of-knowledge-vs-breadth-of-knowledge/
---
<p><b>Update:</b> I wrote this long ago, and since then, I have come to terms
and even begun to appreciate being a generalist.  There's a wonderful book
called <a href='https://amzn.to/3ftMj81'>Range: Why Generalists Triumph in a
Specialized World</a> that explains the value in having a breadth of
knowledge even in an increasingly specialized world.</p>

<p>In a lot of circumstances, it can be useful to have a wide breadth of
knowledge: that is, to know a little about a lot of things.  It's useful in my
job, where I am the System Administrator/DBA/developer/etc.</p>

<p>That being said, I feel like I need to increase my depth of knowledge in one
or more areas in order to be more useful to the Open Source and Ubuntu
communities.  I feel as though my contributions are not as significant as I'd
like them to be, but I'm also not sure in which direction to take them.</p>

<p>So how can someone who knows a little about a lot learn a lot about a little
to be more useful in the community?</p>
