---
layout: post
title: "Google Suffocates Android Development Community"
date: 2009-09-26 00:25:19 +0000
permalink: /2009/09/26/google-suffocates-android-development-community/
category: Linux
redirect_from:
  - /blog/google-suffocates-android-development-community/
---
<p>Today, Google sent a C&amp;D to Cyanogen, the maker of one of the most popular replacement firmwares for the Android platform.  His firmware is based on the official Android firmware, but provides a few new features, like direct-dial shortcuts on the home screen, more home screens (5 by default) and root access.</p>
<p>The root access allows tethering from a notebook computer, so I can get 3G internet on something where I can actually read most of the sites.  Looks like I might have to consider another platform.</p>
<p>Google: nice way to show how you can use FOSS to choke off an active development community.  You should update your site where it says "Do no evil" to be "Do no evil, unless it makes even more money."</p>

