---
layout: post
title: "Sexism in the FLOSS Community"
date: 2009-10-06 17:24:28 +0000
permalink: /2009/10/06/sexism-in-the-floss-community/
category: Misc
redirect_from:
  - /blog/sexism-in-the-floss-community/
---
<p>[NB: Obviously I am a man, but if anyone believes I can't comment on sexism because I am not female, well, look up the definition of sexism.]</p>
<p>Mackenzie over at Ubuntu Linux Tips &amp; Tricks has called attention to <a href="http://ubuntulinuxtipstricks.blogspot.com/2009/10/attention-folks.html">the greatest dark spot on the face of the FLOSS Community</a>: a man who calls himself MikeeUSA.</p>
<p>This "man" has been posting sexist, misogynist, and violent comments on blogs in the FLOSS Community advocating rape and violence towards women.  His behavior is, to say the least, nauseating and despicable.  Worse, the "man" is a coward who hides behind pseudonyms and tor in protecting his identity.  Whether he really feels the way he does or he gets his jollies on trolling in this dirty manner, he is no better than the likes of Hitler and Stalin.  Needless to say, comments by him on my blog or any site I work with (e.g., <a href="http://linuxquestions.org">LinuxQuestions.org</a>) will not be tolerated.</p>
<p>That being said, I thought today would be a good day to address my take on the numerous issues of sexism in open source that have been going around lately.  I'll first discuss a few points brought up via Mackenzie's link to the <a href="http://geekfeminism.wikia.com/wiki/2009_women_in_FLOSS_discussions">Geek Feminism Wiki</a>, which I wasn't even familiar with until today.</p>
<ul><li><a href="http://geekfeminism.wikia.com/wiki/2009_women_in_FLOSS_discussions">Hoss Gifford's Flashbelt Presentation</a>: Hoss's presentation clearly presented a sexist message which was inappropriate for the venue.  It was unprofessional and disappointing.  That being said, it didn't seem (to me) to be anything worse than immature attention-getting, and I doubt it reflects his personal views towards women.  (Or at least, I hope it doesn't.)</li>
<li><a href="http://geekfeminism.wikia.com/wiki/EMACS_virgins_joke">Richard Stallman's emacs virgin joke</a>: It was a joke, and a bad one at that, but it was delivered by RMS.  Who has ever expected anything politically correct from him?</li>
<li><a href="http://geekfeminism.org/2009/09/23/open-letter-to-mark-shuttleworth/">Mark Shuttleworth's Keynote</a>: While his comment was probably politically incorrect, it was hardly sexist to me.  In fact, I doubt anyone would have noticed were it not for all the other gaffes made at conferences this year.  Are we now asking every statement open source leaders make to be run by legal?  Maybe his comments were misinterpreted, or I just interpret them differently than others do.  What I do at work, and what I do in the open source community, can be VERY hard to explain to my fiancee.  From his perspective, this is "hard to explain to girls."  This is not to say that women are not both valued and welcomed in the open source community, but it is more about the technical nature of the work and that being a doctor or a lawyer or a banker is easy to explain, and being a contributor to an open source project is not.  (I am in no way suggesting that Mark Shuttleworth's comments were appropriate, only that they stem from common usage, and I don't believe they reflect a sexist attitude.)</li>
</ul><p>I fully support the movement to reduce sexism in the FLOSS Community, and I welcome and encourage the participation of women in the open source community.  I hope the proportions continue to normalize, and I don't intend to offend by posting these views.</p>
<p>All that being said, I think that it's inappropriate to expect someone to use "he slash she" every time they want to refer to a person in a speech.  The political correctness involved will quickly overwhelm and swamp the efforts that are being made elsewhere.  If we are to spend all of our time thinking about being politically correct, there would be no time for any forward movement, both technically and socially.  The idea that terms like "guys" are sexist is one I cannot wrap my mind around.  Show me a list of suitable replacement words that doesn't make a presentation sound stilted and detract from the central idea, and only then can we expect ideas to change.</p>
<p>As for those who are refusing to use Ubuntu over Shuttleworth's "remark": overreact much?  It's not like the Ubuntu wallpaper has nudes of women on it.  Perhaps when an attitude of discrimination is demonstrated, then it will be time for a boycott.  Until then, words are words and actions are actions, never confuse the two.</p>
<p><strong>Edit:</strong> I have earned myself a comment from MikeeUSA, which is interesting in that he seems to be seeking out a fight.  Big surprise.</p>

