---
layout: post
title: "SELF - Vendor Booths and BoF: GPG"
date: 2009-06-13 21:24:00 +0000
permalink: /2009/06/13/self-vendor-booths-and-bof-gpg/
category: Linux
redirect_from:
  - /blog/self-vendor-booths-and-bof-gpg/
---
<p>I missed a couple of hours of speakers, but hopefully they'll post the videos of it online.  During that time, I visited the booths a bit more, and got into some interesting discussions.  I found out about <a href="http://tllts.org">The Linux Link Tech Show</a>, a weekly live podcast talking about Linux related issues.  I talked with int eighty from <a href="http://dualcoremusic.com">Dual Core</a> about their music, and his appearance on <a href="http://hak5.org">Hak.5</a>.  I also spent a bit of time talking with the Zenoss Community Manager, and I'm going to propose switching our monitoring at work from Nagios to Zenoss.  It's significantly more powerful and robust, and I'm sure I'll have more to say after giving it a try.  On top of all this, I talked with the guys from <a href="http://freeitathens.org">Free IT Athens</a>.  They refurbish computers for, and provide training to, the underprivileged citizens of Athens, GA.</p>
<p>I also attended a Birds of a Feather session for a GPG keysigning.  Hopefully that will improve the web of trust for my key, as well as the keys of others.  It's also something I'd like to organize for ALF or an ALE meeting.  Having independently trusted keys strengthens both the web of trust and the usefulness of GPG.</p>

