---
layout: post
title: "SELF - DMCA and Copyright Law"
date: 2009-06-13 15:43:25 +0000
permalink: /2009/06/13/self-dmca-and-copyright-law/
category: Linux
redirect_from:
  - /blog/self-dmca-and-copyright-law/
---
<p>Presentation by Wendy Seltzer &lt;<a href="mailto:firstname@lastname.org">firstname@lastname.org</a>&gt;</p>
<p>DMCA<br />
-Section 512 (ISP Safe Harbor, Notice, Takedown)<br />
-Section 1201 (Anticircumvention)<br />
1998 Sonny Bono Copyright Term Extension Act<br />
- +20 years to all copyright terms (existing and future)</p>
<p>Betamax exception: Technology used primarily for non-infringing purposes should not be seen as infringing even if some infringing use occurs.</p>
<p>McCain posted clips of interviews on YouTube, networks of original videos filed DMCA takedown notices, resulting in removal of his clips.  Lawsuits under 512(f) to remedy false takedown claims.</p>
<p>Google shows that links have been removed per DMCA as well as publication of DMCA complaint via <a href="http://www.chillingeffects.net">Chilling Effects</a>.  These complaints include the original links to the content, as the DMCA requires specificity in filing a takedown complaint.</p>
<p>Similar to Chilling Effects, MIT runs a site known as <a href="http://youtomb.mit.edu">YouTomb</a> which attempts to track videos removed as DMCA violations.  In this site, you will find both legitimate and abusive uses of the DMCA.</p>
<p>The French HADOPI act, struck down by French Constitutional Court (Internet Access is key to exercising basic human rights), said that 3-time violators of copyright should have their Internet access shut off and be banned from getting a new ISP account.</p>
<p>Anticircumvention: If there is a technological measure intended to protect copyright, it is an independent violation of the law to break that measure.  Sharpies for copy-protected CDs?  Lexmark claimed the chip in their toner cartridge constituted an "effective technological measure" to prevent production of 3rd party cartridges.</p>
<p>MPAA claims that videorecording a TV set constitutes an acceptable analog alternative to using software to circumvent DVD protection, and thus DeCSS and similar technologies should not be allowed as an exemption under DMCA.  This comes from the same group that has fought for laws prohibiting bringing a videorecording device into a movie theater.  (Recorded by Timothy Vollmer, video of video of video on Vimeo)</p>
<p>"Sorry, you can't interoperate with that with Free Software."  Anti-consumer features embedded solely in hardware and proprietary software.  Free software would make users able to increase the usefulness of their DVDs and other media, but would potentially allow for infringing uses of the system.</p>
<p>Authors of DMCA probably did not realize impact of anticircumvention provisions, nor realize the potential power of FOSS in the realm of media.  Congress is also probably not aware of the nature of the Open Source software running the rendering clusters involved in producing the movies, the servers distributing the content and trailers and other information, and many other components necessary for their infrastructure.</p>
<p>In closing: Monorail Kitteh now stops @ Library.</p>

