---
layout: post
title: "SELF - Initial Impressions"
date: 2009-06-13 14:40:51 +0000
permalink: /2009/06/13/self-initial-impressions/
category: Linux
redirect_from:
  - /blog/self-initial-impressions/
---
<p>I'm currently at the first annual South East Linux Fest (in the opening keynote) and I'm really impressed with what they put together.  It's not huge, but it's really impressive and really professional.  I'm very impressed by the conference badges, the bags, the turnout, and the arrangements.  I think there's a lot from this we can take away for the Atlanta Linux Fest, especially promotion-wise.  ALF is in about 3 months, but that doesn't mean we can't get some things together.</p>
<p>Handing out conference schwag doesn't seem like a big benefit, but giving these things out to attendees will foster a more professional image for speakers and vendors, and provides attendees something to take home to remind them about the conference for the next one.  (Delayed returns, yes, but returns nonetheless).</p>
<p>Increased promotion is a no-brainer.  Organizing (and possibly funding) increased promotion can pose a problem.  Some ideas: break up promotional methods, areas, etc.  Start attaching conference stickers to Ubuntu CDs being distributed.  Find out about placing signs at Frys, Microcenter, and maybe game stores (even the DND style game stores probably have a decent overlap with the Linux community).  Also, academic institutions -- signs at universities, especially around their Computer Science departments, are likely to attract attention.</p>
<p>Perhaps most importantly is to build an 'image' for a conference.  SELF has a very distinctive logo, and the logo is present on their website, their conference materials, and the badges at the conference.  This provides cohesiveness and prepares a brand for the conference.</p>
<p>Some thoughts to think about, and I'm sure I'll come up with more as we progress through the day.</p>

