---
layout: post
title: "SELF - Community-Based Technology Centers"
date: 2009-06-13 21:34:23 +0000
permalink: /2009/06/13/self-community-based-technology-centers/
category: Linux
redirect_from:
  - /blog/self-community-based-technology-centers/
---
<p>This presentation discussed the benefits and future of Free IT Athens and other community-oriented technology centers.</p>
<p>They provide free/low-cost computers, computer training, and other technology support for underprivileged and low-income citizens in Athens.  They refurbish computers to both prevent them from ending up in a landfill and to enable children and adults to gain knowledge and the benefits of the use of the Internet and computers in general.</p>
<p>On July 18, ALE, the Ubuntu GA Loco, and Free IT Athens will be holding a joint event to visit the Free IT Athens venue and donate equipment for refurbishment.  I hope to be able to join them and help in these goals.  I may, by then, have a couple of machines that could be used for this purpose, which is good for the environment and for the community.</p>
<p>FreeLinuxPC.org was also discussed with similar goals and ideas as Free IT Athens.  FreeLinuxPC.org is also trying to build computer labs for low-income areas, some with standalone systems, and some with thin-client systems.  FreeLinuxPC, in its long-term vision, wants to provide organization and information to organizations like Free IT Athens and others with similar goals.</p>
<p>Finally, the Gussie Greene Community Technology Center has similar goals, but has its own identity.  This is a top-down approach to addressing the digital divide in South Carolina.</p>

