---
layout: post
title: "ALF 2009: A Success!"
date: 2009-09-21 16:50:43 +0000
permalink: /2009/09/21/alf-2009-a-success/
category: Linux
redirect_from:
  - /blog/alf-2009-a-success/
---
<p>Atlanta Linux Fest 2009 was a huge success!  We probably had 600+ people come through the door, which is just amazing for the 2nd year of an event that was only 125 people last year!  22 successful presentations, many of which were standing room only.  Planning for next year is just around the corner, so stay tuned to <a title="http://atlantalinuxfest.org" href="http://atlantalinuxfest.org">http://atlantalinuxfest.org</a>.</p>
<p>Big thanks go out to fellow planners Nick Ali, Jim Popovitch, Joshua Chase, and Amber Graner!  If any one of us had been missing, I doubt things would have worked out.  Also a big thanks to the spawn of akgraner for filling in the gaps and keeping us rolling in stitches!</p>

