---
layout: post
title: "Bozeman, Montana uses the Constitution for Toilet Paper"
date: 2009-06-19 02:19:30 +0000
permalink: /2009/06/19/bozeman-montana-uses-the-constitution-for-toilet-paper/
category: Law/Politics
redirect_from:
  - /blog/bozeman-montana-uses-the-constitution-for-toilet-paper/
---
<p>The city of Bozeman, Montana has decided that all applicants for city jobs must provide them with the usernames and passwords for social networking sites, forums, and chatrooms that the applicant participates in.  This fits into the category of things I think are hoaxes until I read it a few times over.</p>
<p>From NetworkWorld: <a title="http://www.networkworld.com/community/node/42819" href="http://www.networkworld.com/community/node/42819">http://www.networkworld.com/community/node/42819</a></p>

