---
layout: post
title: "Review: The Art of Community (Jono Bacon)"
date: 2009-10-06 21:55:24 +0000
permalink: /2009/10/06/review-the-art-of-community-jono-bacon/
category: Linux
tags:
  - Book Review
  - Ubuntu
  - Open Source
redirect_from:
  - /blog/review-the-art-of-community-jono-bacon/
---
<p>I had the privilege of receiving an early copy of <a href="http://www.artofcommunityonline.org">The Art of Community</a> by Jono Bacon for review.  It's taken a little longer than I had hoped to get through it, but that's by no means a reflection of the book.</p>
<p>"The Art of Community" tackles a very difficult question in the Open Source world: how do you build a strong community around your project?  Jono addresses this by using anecdotal evidence of good community organization, and discussing the facets that apply to community development.  Jono's varied experiences are shown through anecdotes about the Ubuntu community and other communities he has participated in.  The stories he shares are concise and clear, but demonstrate their points effectively and thoughtfully.  Jono's writing skills are first-rate, with strong points made clearly.  He builds the community idea from grassroots to the enterprise and shows how community participation can help -- and harm -- at each step along the way.  It's obvious that Jono knows what he's talking about, and he communicates it well.  I highly recommend this book for anyone interested in the dynamics of a community or any project leader looking to build from the ground up.</p>

