---
layout: post
title: "Free IT Atlanta"
date: 2009-10-06 20:26:55 +0000
permalink: /2009/10/06/free-it-atlanta/
category: Misc
redirect_from:
  - /blog/free-it-atlanta/
---
<p>I'm very much inspired by the work that's been done out in Athens by <a href="http://www.freeitathens.org/">Free IT Athens</a>.  They provide free/low-cost IT services to low-income families and community organizations in the city of Athens, GA.  In their words:</p>
<blockquote><p><span style="font-family: georgia,serif;"><strong>Free IT Athens is a group of like-minded citizens who realize that computers are a necessary component of everyday life. We believe that everyone deserves access to low-cost computer equipment and computer-related services. Our goal is to provide access to information technology resources to Athens-Clarke County residents and organizations. We also aim to create well informed advocates in free software and open information technology.</strong></span></p></blockquote>
<p>I'm interested in helping/starting a similar organization here in the Atlanta area.  I know there are a lot of deserving individuals and community organizations, and it provides a great opportunity to showcase the strengths of open source software.  Unfortunately, there is no way I can get this off the ground myself.  I'm looking for some more individuals who might be interested in a meeting (either in-person or via IRC/dim dim/etc.) to discuss the feasibility and planning for such a group.  This (hopefully) serves as my "feeler" for others who might be interested in participating in/organizing such a group.</p>

