---
layout: post
title: "Needing more focus..."
date: 2010-06-20 03:40:51 +0000
permalink: /2010/06/20/needing-more-focus/
category: Personal
tags:
  - Life
  - Linux
  - Focus
  - Open Source
redirect_from:
  - /blog/needing-more-focus/
---
<p>I've come to the conclusion that I need to become more focused in some areas of my life.  I want to be able to contribute to open-source projects, including Ubuntu, but I realized that I don't know enough about any single project to really dive in and work on the code.  I need to find a single project to contribute (codewise) to.</p>
<p>I sometimes feel that there's this technological void in my life, with a desire to work on a project of some sort.  The big problem is that I have diverse interests: user experience, information security, embedded systems/robotics, etc.  I know it's a ridiculous statement to make, but even at 25, I feel like I'm behind where I'd like to be in my life.</p>
<p>How do you all find your niche, and satisfy that urge?  Anyone got a favorite project that needs some love?</p>

