---
layout: post
title: "The expectations of new users of FOSS"
date: 2010-06-03 21:13:18 +0000
permalink: /2010/06/03/the-expectations-of-new-users-of-foss/
category: Linux
redirect_from:
  - /blog/the-expectations-of-new-users-of-foss/
---
<p>Many new users of Free/Open Source Software come with one of two (if not more) unrealistic expectations: either an expectation for support despite not having paid anything for the software or support, or an idea that Open Source = Public Domain.</p>
<p>Community-based support is not the same as commercial support.  Community-based support is a purely volunteer effort, and should not have particular expectations of response times.  For example, telling the community that a particular issue is "Urgent!" does not generally make it more urgent for the community.  Making no effort to solve the problem yourself generally leads to even less urgency from the community.  If you want a commercial level of support, pay for it.  For example, Canonical offers commercial support for Ubuntu.  There are many support vendors out there.</p>
<p>Open Source is not Public Domain software.  It has a copyright and a license.  I have seen several people complaining that particular libraries are GPL-licensed (or other so-called "viral" licenses) preventing them from using them in their commercial applications.  Please realize that you are asking to take someone else's work for free and turn a profit on it.  Either participate in the social contract of open source, find another library, or approach the developer and offer to pay for a dual-license to allow use in your proprietary work.  Using GPL code without adhering to the copyleft provisions of the license is software piracy, which nobody should tolerate.  Presumably, if you don't want your application to be open source, you're looking for others to pay you for your work.  I don't think you'd very much appreciate it being resold without a license and without revenue for you.</p>
<p>There is a social contract in addition to the legally-binding licenses behind FOSS.  Respecting it will continue to encourage the development of a productive software ecosystem.</p>

