---
layout: post
title: "The Apple Silo in Education"
date: 2010-08-12 12:00:36 +0000
permalink: /2010/08/12/the-apple-silo-in-education/
category: Freedom
redirect_from:
  - /blog/the-apple-silo-in-education/
---
<p>The other day at work, I was talking with our department's Drupal Developer and our campus's webmaster.  The question came up as to whether or not I saw a role for the iPad in a classroom environment, either at the University or K-12 level.  My initial answer was yes, but my longer answer was no, not the iPad.  A device similar to the iPad, but not it.</p>
<p>The iPad is a fully-integrated portion of the Apple silo: without violating the warranty and EULA, you cannot install any software not approved by Apple.  "Jailbreaking" your device violates those agreements, and could never be done in the education setting.  Accordingly, Apple has full control over the software you run on your device.  For example, if they <a href="http://gizmodo.com/5611169/">don't like a camera application</a> that lets you use the volume button to take a picture, it's gone.  Hopefully you don't want an App that helps you find wifi hotspots:  <a href="http://news.cnet.com/8301-13579_3-10464021-37.html">the entire category has been banned</a>.</p>
<p>It's bad enough that these applications have been banned, but at least you'd go into it knowing that you can't use those applications in your classroom setting.  What happens when an application you're using for your course is banned midway through the semester?  At least it's already on your device, right?  It is unless Apple pulls their <a href="http://www.macworld.com/article/134930/2008/08/iphone_killswitch.html">kill switch</a>.  Then you'd really be stuck.</p>
<p>The iPad form factor might have a place in the classroom, but iOS certainly does not.  At least Android will openly allow you to install apps that weren't even obtained through their Market.  Android will also allow the existence of <a href="http://www.businessweek.com/the_thread/techbeat/archives/2008/10/handango_the_first_third-party_android_store.html">3rd party market places</a>.  There's even direct <a href="http://androinica.com/2010/07/07/android-3-0-install-app-from-web-feature-arrives-early-thanks-to-appbrain-update/">install-from-web capability</a> in the newer versions (app required).</p>
<p>Android aside, Ubuntu is releasing MID versions of their OS, so you could have a full-fledged operating system for your tablet device.  And with quickly, app development for Ubuntu is easier than ever.</p>
<p>Tablets may have a role in education, but I can't see the place for Apple's silo.</p>

