---
layout: post
title: "Backupninja!"
date: 2010-12-24 21:14:51 +0000
permalink: /2010/12/24/backupninja/
category: Linux
tags:
  - Linux
  - Open Source
  - Backup
redirect_from:
  - /blog/backupninja/
---
<p>I don't know how I missed it before, but I found a great backup tool today.  It's <a href="https://labs.riseup.net/code/projects/backupninja">BackupNinja</a>.  It's stupidly simple to set up to back up a small number of machines.  It's no centralized backup system like bacula, but for a single server or two (like I have) it seems far better than a "roll your own" solution.</p>
<p>So, a big Christmas thank you to the BackupNinja devs.</p>

