---
layout: post
title: "Using Ubuntu to save at-risk youth"
date: 2010-08-13 02:16:53 +0000
permalink: /2010/08/13/using-ubuntu-to-save-at-risk-youth/
category: Linux
redirect_from:
  - /blog/using-ubuntu-to-save-at-risk-youth/
---
<p>Nick Ali (boredandblogging) asked me to forward this on to the planets, and it's really quite worth it.  Murray Wilson has a video about refurbing older hardware through the use of Linux.  Take a look: <a href="http://ubuntuforums.org/showthread.php?t=1551472">http://ubuntuforums.org/showthread.php?t=1551472</a></p>

