---
layout: post
title: "COICA: The Great Firewall of America"
date: 2010-09-29 03:40:22 +0000
permalink: /2010/09/29/coica-the-great-firewall-of-america/
categories: Computer,Law/Politics,Linux
redirect_from:
  - /blog/coica-the-great-firewall-of-america/
---
<p>S. 3804 is the latest opportunity for the government to use "Copyright" to control the Internet.  The DoJ, without a trial, could blacklist websites for "supporting" infringing practices.  Could Linux, Ubuntu, etc. be targeted by proprietary software for infringing on their IP?  Could Dropbox, Ubuntu One, etc. be targeted for allowing users to share files?  Could attackers use it to use the government to knock legitimate sites offline by filing false complaints against sites?  Should the US government really control the Internet?  I think this will just lead to a 2nd DNS infrastructure and fragment the Internet.  The underground will just go deeper and evade the government, but legitimate organizations and people will be hurt the most.</p>
<p><a href="http://demandprogress.org/blacklist/">http://demandprogress.org/blacklist/</a></p>
<p><a href="https://secure.eff.org/site/Advocacy?cmd=display&amp;page=UserAction&amp;id=455">https://secure.eff.org/site/Advocacy?cmd=display&amp;page=UserAction&amp;id=455</a></p>

