---
layout: post
title: "Ubuntu Women Leadership Candidates"
date: 2010-01-08 02:57:21 +0000
permalink: /2010/01/08/ubuntu-women-leadership-candidates/
category: Misc
redirect_from:
  - /blog/ubuntu-women-leadership-candidates/
---
<p>The Ubuntu Women group is in the process of selecting a new leader.  Currently, testimonials are being accepted for the 3 candidates (Amber Graner, Melissa Draper, and Penelope Stowe).  Check out these talented women who seek to break some of the gender barriers in the Ubuntu community: <a href="http://wiki.ubuntu-women.org/UbuntuWomen/LeadershipNominations/January2010/">http://wiki.ubuntu-women.org/UbuntuWomen/LeadershipNominations/January2010/</a></p>

