---
layout: post
title: "Broadcom does the Right Thing"
date: 2010-09-10 12:57:10 +0000
permalink: /2010/09/10/broadcom-does-the-right-thing/
category: Misc
redirect_from:
  - /blog/broadcom-does-the-right-thing/
---
<p>Looks like Broadcom is doing the right thing: <a href="http://arstechnica.com/open-source/news/2010/09/broadcom-announces-official-open-source-drivers-for-linux.ars">http://arstechnica.com/open-source/news/2010/09/broadcom-announces-official-open-source-drivers-for-linux.ars</a></p>
<p>They've released fully-open drivers for 3 of their 802.11n chipsets.  I hope this'll spread to more of their hardware, but regardless, it's a great move.  No longer will Broadcom be an absolute contraindication to my buying hardware.  Thanks Broadcom!</p>

