---
layout: post
title: "My Favorite Web Comics"
date: 2010-08-02 04:01:06 +0000
permalink: /2010/08/02/my-favorite-web-comics/
category: Personal
redirect_from:
  - /blog/my-favorite-web-comics/
---
<p>Only yesterday I discovered the amazing webcomic <a href="http://questionablecontent.net">Questionable Content</a>.  I don't know where I've been that I've missed the superior wit of Jeph Jacques, but it's worth a read for just about anyone.  He's got over 1700 strips there, and I've read through the first ~900 in the past two days.  Yes, it's that good.  I've literally LOLed, which has led to Ann giving me several strange looks.  But it's well worth it.</p>
<p>I figured I'd post a short list of my favorite webcomics -- I encourage everyone to check them out!</p>
<ul><li><a href="http://questionablecontent.net">Questionable Content</a></li>
<li><a href="http://xkcd.com">XKCD</a></li>
<li><a href="http://phdcomics.com">Ph.D Comics</a></li>
<li><a href="http://www.cad-comic.com">Ctrl-Alt-Del</a></li>
<li><a href="http://userfriendly.org">UserFriendly</a></li>
</ul>
