---
layout: post
title: "Attack of the Cosmic Rays!"
date: 2010-06-25 03:38:36 +0000
permalink: /2010/06/25/attack-of-the-cosmic-rays/
category: Misc
redirect_from:
  - /blog/attack-of-the-cosmic-rays/
---
<p>KSplice has posted <a href="http://blog.ksplice.com/2010/06/attack-of-the-cosmic-rays/">an interesting article</a> regarding the consequences of a single flipped erroneous bit in RAM.</p>
<blockquote><p>It’s a <a onclick="javascript:pageTracker._trackPageview('/outbound/article/www.zdnet.com');" href="http://www.zdnet.com/blog/storage/dram-error-rates-nightmare-on-dimm-street/638"> well-documented</a> fact that RAM in modern computers is susceptible to  occasional random bit flips due to various sources of noise, most  commonly high-energy cosmic rays. By <a onclick="javascript:pageTracker._trackPageview('/outbound/article/lambda-diode.com');" href="http://lambda-diode.com/opinion/ecc-memory">some  estimates</a>, you can even expect error rates as high as one error per  4GB of RAM per <strong>day</strong>! Many servers these days have ECC  RAM, which uses extra bits to store error-correcting codes that let them  correct most bit errors, but ECC RAM is still fairly rare in desktops,  and unheard-of in laptops.</p></blockquote>
<p>Makes me want to build my next desktop with ECC RAM.  Of course, that requires a motherboard that supports it, among other things.  When you're using encryption, a single bit error can result in the inability to decrypt an entire file.  I wonder what steps could be taken to mitigate those sort of issues.</p>

