---
layout: post
title: "Merry Christmas, and Thank You!"
date: 2010-12-25 18:38:46 +0000
permalink: /2010/12/25/merry-christmas-and-thank-you/
category: Freedom
tags:
  - Freedom
  - Linux
  - EFF
  - Civil Liberties
redirect_from:
  - /blog/merry-christmas-and-thank-you/
---
<p>A big Merry Christmas to all my readers, and a big Christmas thank you to my favorite groups &amp; organizations:</p>
<ul><li><a href="http://ubuntu.com">The Ubuntu Community</a></li>
<li><a href="http://aclu.org">The ACLU</a></li>
<li><a href="http://eff.org">The Electronic Frontier Foundation</a></li>
<li><a href="http://fsf.org">The Free Software Foundation</a></li>
<li><a href="http://linode.com">Linode</a></li>
<li><a href="http://debian.org">Debian Linux</a></li>
<li><a href="http://linuxquestions.org">LinuxQuestions.org</a></li>
<li><a href="http://www.gnupg.org/">GnuPG Developers</a></li>
</ul><p>Also, of course, Merry Christmas to my friends and coworkers at Kennesaw State University, to my family, and especially to the love of my life (and wife), Ann.</p>

