---
layout: post
title: "Canonical Store Issues"
date: 2010-07-05 02:21:06 +0000
permalink: /2010/07/05/canonical-store-issues/
category: Misc
redirect_from:
  - /blog/canonical-store-issues/
---
<p>I hate to use this as a venue to address issues I'm having with the Canonical Store, but I'm somewhat disappointed in it.  On the 21st of June, I ordered the "Ubuntu Certified Professional - Exam Bundle."  As of today, I still have not been able to get the codes to register for my exams with Pearson VUE.  Last week, I contacted Merchandise Mania (the operators of the Canonical Store) and they said they would pass my concerns on to Canonical and someone would contact me "if they can help."  I still haven't heard anything.  So if anyone involved with this at Canonical reads this, I'd greatly appreciate an update.</p>
<p><strong>Update:</strong> I was contacted this morning by a very nice Canonical employee who has gotten me sorted out.  It's this kind of customer service that I appreciate in a company.  Thanks, Canonical!</p>

