---
layout: post
title: "Twitter banned from misleading consumers 'for 20 years'"
date: 2010-06-25 03:25:50 +0000
permalink: /2010/06/25/twitter-banned-from-misleading-consumers-for-20-years/
category: Security
redirect_from:
  - /blog/twitter-banned-from-misleading-consumers-for-20-years/
---
<p>Twitter has been, among other things, "<a href="http://www.net-security.org/secworld.php?id=9476">barred for 20 years from misleading consumers about the extent to which  it maintains and protects the security, privacy, and confidentiality of  nonpublic consumer information</a>..."  I believe that Twitter should not be misleading consumers about any aspect of their security, but it almost seems that a specific bar of this nature, and with a specific duration, seems like an implicit permission for other companies to mislead consumers (as they have not been so barred) and that, after 20 years, Twitter can mislead consumers all they want.  Seems like a bit of common sense that the FTC has felt the need to spell out...</p>

