---
layout: post
title: "Who's screwed up worst?"
date: 2010-06-27 19:22:32 +0000
permalink: /2010/06/27/whos-screwed-up-worst/
category: Security
redirect_from:
  - /blog/whos-screwed-up-worst/
---
<p>Several organizations, including parts of the US government, have successfully screwed things up, or promised to screw things up, this week:</p>
<ul><li>The USPTO <a href="http://yro.slashdot.org/story/10/06/26/2020237/USPTO-Grants-Bezos-Patent-On-60s-Era-Chargebacks">granted a patent to Amazon.com for charging for computing resources on an as-used basis</a>.  This is similar to the chargebacks of mainframe computers beginning in the 1960s.  Apparently patent examiners are not familiar with the term "prior art" or "obviousness."</li>
<li>White House cyber-security czar Peter Schmidt is <a href="http://www.zdnet.com.au/us-interested-in-aussie-zombie-code-339304063.htm">considering rules</a> that would put computers with viruses into a "walled garden."  There is, of course, no discussion of how this will work -- agents on your computer?  IDS?  Either way, false positives, SSL, and public wifi hotspots are sure to only make this a headache for legitimate users.</li>
<li>ASCAP has <a href="http://www.boingboing.net/2010/06/23/ascap-raising-money.html">shown themselves to be ass-hats</a>.  Not only do they want to charge royalties that are crippling to non-profit organizations, but now they want to prohibit artists from using their choice of license for the media they produce.  They won't be happy until they have control over the entire music market.  Apparently choice and freedom aren't options for musical artists.</li>
</ul>
