---
layout: post
title: "Software Patent Trolls Should Die"
date: 2011-05-27 14:34:05 +0000
permalink: /2011/05/27/software-patent-trolls-should-die/
category: Freedom
tags:
  - Patents
  - Software Patents
redirect_from:
  - /blog/software-patent-trolls-should-die/
---
<p>
	Software patent trolls -- companies whose primary source of revenue is derived from suing others over their patent portfolion -- pose a significant risk to continuing innovation in the United States.  In order to promote future development and innovation, we need to eliminate software patents. </p>
<p>
	At a minimum, companies should not be allowed to retain rights to a patent unless they continously produce a product that utilizes their patent.  Much like a trademark, patents not being used should fall into the public domain.</p>
<p>
	Ideally, software should not be patented.  Patents are directly against the spirit of the internet, of interoperability, and of working towards better products.  Patenting software and preventing others from developing similiar software says "I've done the bare minimum, and know I can't compete in a free market."</p>
<p>
	Software patents (like most government actions these days) favor large corporations, hamper development and innovation, and strangle Free software.  In doing so, we are continuing to set a track for countries like China and India to pass the United States as leaders of technological development.</p>

