---
layout: post
title: "What I learned from Steve Jobs"
date: 2011-10-06 04:19:23 +0000
permalink: /2011/10/06/what-i-learned-from-steve-jobs/
category: Computer
tags:
  - Apple
  - Steve Jobs
redirect_from:
  - /blog/what-i-learned-from-steve-jobs/
---
<p>
	Unless you've just awoken from a coma, you're probably well aware that Steve Jobs passed away a few hours ago.  It might be the very first time that the death of a "celebrity" has saddned me.  Steve was more than a celebrity, he was visionary like none other.</p>
<p>
	Steve had a vision that was unmatched by anyone else, even his Apple cofounder Steve Wozniak.  The Woz and I are much more on the same wavelength -- fascinated by the technology, fascinated by doing things just to see them done.  Jobs, on the other hand, saw the bigger picture instantly.  He saw how the technology would change the world, and he got there first (most of the time).  <strong>Lesson one:</strong> See the big picture.  Even if you don't control the big picture, see how your part fits into the big picture, and make it better.</p>
<p>
	Steve had many successes, but he wasn't infallible.  He worked a number of menial jobs in college, and got fired from several of them.  The Apple Lisa left a lot to be desired, both in technology and in sales.  He was fired from the company he cofounded.  Did he give up, or decide he shouldn't be in the business?  No.  Steve picked himself up, and showed people that they <em>were wrong</em> about him.  <strong>Lesson two:</strong> Fail.  Learn from failure.  Repeat until you succeed.  (A corollary lesson: being told you can't do something should make you want to do it even more.)</p>
<p>
	<strong>The biggest thing</strong> I've learned from the life of Steve Jobs came about just tonight.  No matter how rich you are, how popular you are, how smart you are, no matter what you've done in your life, it comes to an end entirely too soon.  Steve didn't wait for things to come to him, he made things happen for himself.  Time and time again, he <em>did things</em>.  <strong>Lesson three:</strong> We all die, and for many it's entirely too soon.  So get out there and do things.  Make your obituary interesting.</p>
<p>
	RIP, Steve.  You were a pillar of the technology industry.  You will be missed.</p>

