---
layout: post
title: "Where My Goals Lie"
date: 2011-09-15 00:21:59 +0000
permalink: /2011/09/15/where-my-goals-lie/
category: Personal
tags:
  - Life
  - Goals
redirect_from:
  - /blog/where-my-goals-lie/
---
<p>
	Lately, I've been doing a lot of thinking about my life goals.  While I realize that 26 is still comparatively young, I really feel like I'm not making enough progress towards where I want to be.  Rather than moping on about it, as I have for quite some time, I've been inspired by <a href="http://sachachua.com/blog/">Sacha Chua</a> to actually do something about it.  Sacha is all about getting things done and making the most out of life, or, to quote her blog title, "Living an Awesome Life."  Whining is <strong>not</strong> living an awesome life.</p>
<p>
	I've decided to identify (some of) my life goals, what is preventing my from achieving them, what I am doing to accomplish them, and what else I could be doing to accomplish them.</p>
<p>
	<strong>Goal #1: Achieve financial comfort.</strong></p>
<p>
	While it may seem greedy or shallow to list a monetary goal first, financial stress can inhibit the ability to achieve other goals.  Having little to no savings makes career changes riskier and more stressful.  Many of my other goals have SOME financial requirements.</p>
<p>
	This goal is intertwined into many other aspects of my life, including my progress towards a graduate degree.  I like my current job, but I'm not sure that there's much (if any) more room for advancement there.  Eventually it will be time to move on, no matter how hard it may be.</p>
<p>
	<strong>Goal #2: Do original work in Information Security.</strong></p>
<p>
	I have long been fascinated by the technical aspects of information security.  Securing applications, penetration testing, IDSs, firewalls, and other security technologies are just a few of the things I want to get into more.  I'd like to do original research and development in Information Security.</p>
<p>
	In order to do that, I need to find a more specific niche to work on, and devote some time to really working on it.  I think part of that involves reading more, but even more so, DOING more.  I need to stop just reading and use what I've learned to develop the deeper understanding needed for original work.  I'm hoping to incorporate some of this into my M.S. in Computer Science, but again, I'll need a more specific topic.</p>
<p>
	<strong>Goal #3: Engage more with like-minded individuals.</strong></p>
<p>
	I fairly regularly attend meetings like <a href="http://ale.org">Atlanta Linux Enthusiasts</a>, <a href="http://dc404.kaos.to">DC404</a>, etc.  I do this less for the presentations (although lately I've been a frequent speaker at ALE meetings) than for the interaction with the other individuals.  While there are a couple of people at work who have similar interests, it's a rare opportunity to have an in-depth conversation about the topics that interest me.</p>
<p>
	I have yet to figure out how to fix this one.  The only idea I've had so far involves career change, which might be a bit much to meet this goal.  I guess my meetings will have to do for now.</p>
<p>
	<strong>Goal #4: Speak at a 'major' conference.</strong></p>
<p>
	I've done quite a bit of speaking at minor conferences, monthly meetings, etc., and really enjoy the level of preparation necessary to teach others.  I don't think I could teach professionally, but I feel like being accepted to speak at a large conference somehow validates your work, be it original research or just presenting a topic to an audience unfamiliar with it.</p>
<p>
	I'm working my way up there.  I've got a couple of topics I'm thinking about developing for a talk at SELF next year.  Eventually, I'd like to get up to SCALE, Defcon, etc.</p>
<p>
	<strong>Goal #5: Find my niche.</strong></p>
<p>
	This goal intertwines with all of the above.  Right now, I'm somewhat of a generalist in the realm of information technology.  While that's certainly valid, I'd like to specialize more into security, but even that is very general.  Moxie Marlinspike is known for his SSL research, Dan Bernstein for DNS, Bruce Schneier for Cryptography, etc.  All of them interest me, and I don't have the time and/or energy to get into all those fields.</p>
<p>
	I hope that one day I'll stumble upon my niche, or -- at least -- develop something within one of those fields.  Again, it comes down to "doing" rather than "talking."</p>
<p>
	<strong>More minor goals in my life:</strong></p>
<ul><li>
		Attend Defcon, Black Hat, SCALE, OSCON, LinuxCon, DerbyCon, and the other top-shelf *cons.</li>
<li>
		Obtain a CISSP and LPIC-3</li>
<li>
		Get over my health-related anxieties.</li>
<li>
		Find something good to do with an Arduino.</li>
<li>
		Have fun!</li>
</ul><p>
	 </p>
<p>
	This list is not comprehensive, and even writing it out has led to some internal revelations regarding what I should be doing to achieve my goals.  This, being a blog, is also an invitation to input on what I'm missing from achieving my goals.</p>

