---
layout: post
title: "I have the coolest wife..."
date: 2011-10-01 18:12:45 +0000
permalink: /2011/10/01/i-have-the-coolest-wife/
category: Personal
tags:
  - Life
  - Anniversary
  - Wife
redirect_from:
  - /blog/i-have-the-coolest-wife/
---
<p>
	I have the coolest <a href="https://simplepapercrafting.wordpress.com">wife</a> because, although today is our first anniversary, she not only allowed, but encouraged, me to attend DrupalCamp Atlanta.  Hopefully I learn something useful.  :)</p>
<p>
	I love her very much... and I'm not just saying that because she reads this blog.</p>
<p>
	(Oh, and don't worry, we'll be spending the evening together.)</p>

