---
layout: post
title: "VPS.net Review"
date: 2011-11-01 14:55:37 +0000
permalink: /2011/11/01/vpsnet-review/
category: Computer
tags:
  - VPS
redirect_from:
  - /blog/vpsnet-review/
---
<p>
	I first heard about <a href="http://vps.net" rel="nofollow">VPS.net</a> last March at Drupalcon Chicago.  Having been a Linode customer for a couple of years, I was skeptical at first, but 7 months later, I'm very happy with the level of service vps.net provides.  When I've been working on projects for demanding clients, I've been able to scale my VPS up by adding additional nodes -- either daily or monthly.  After the project was done, I could have scaled back down -- but there's always another project on the horizon!  (One of these days, I'll have to make "sleep" a project to make sure it gets done too.)  While there has been a couple of small downtimes, VPS.net has always been great about providing status updates and letting customers know where they stand.  Additionally, their service people are great and respond quickly via email or twitter. </p>
<p>
	VPS.net offers an innovative product -- most VPS providers do not use SANs for their storage needs, but this allows VPS.net to be less susceptible to hardware failures.  In fact, I believe the only downtimes that I have been affected by are those that had an impact on the entire SAN.  Additionally, their ability to scale nodes with a quick reboot by not expanding storage immediately gives you a flexibility that is not available from all providers.  Finally, their pricing structure fits well with my needs -- as you buy more nodes, the new nodes become cheaper.</p>
<p>
	The only feature VPS.net is missing that I wish they had would be slave DNS servers.  Linode offers this service, as do a couple of other VPS providers, and its something I depend heavily on with my light infrastructure.  (2 vpses.)  I know I could go somewhere like Dyn, Inc. for my DNS hosting, but for something I use for personal and side projects, the Dyn offerings are overkill.  (You can only get IPv6/DNSSEC on their more expensive offerings.)</p>
<p>
	I have never had an issue with responsiveness or latency on my VPS.  As I do a lot of work via SSH, CPU or network overselling can easily cause problems for me, but that has not been an issue for me.  I am certain the bad wireless at some of the places where I try to get work done causes orders of magnitude more delays than VPS.net's infrastructure.</p>
<p>
	Overall, though I still have my main site on Linode, VPS.net is a great host for my developmental projects and secondary services.  They take what they do seriously, and they do it well.</p>

