---
layout: post
title: "Recruiters!"
date: 2011-12-13 14:26:06 +0000
permalink: /2011/12/13/recruiters/
category: Work
tags:
  - Recruiters
redirect_from:
  - /blog/recruiters/
---
<p>
	There hasn't been a lot of updates lately, and I apologize... between contract work, end of the semester, and other personal issues, writing blog posts has slipped into the cracks.  Hopefully that'll be fixed as I've finally completed my 2nd 1st semester of grad school.</p>
<hr /><p>
	I am occasionally contacted by recruiters of various sorts.  Most of them I just ignore, particularly those that provide no details on who the employer is, what the compensation package might be, etc.  As a rule, I find 3rd party recruiters who contact me out of the blue are probably contacting anyone whose website includes the word "Linux".  (Although I've received more than one recruiter looking for Windows/.NET software development...)  The most recent one was a real gem though.  No names -- I'm not trying to call him/her out individually, just to shed some light on the vagueness that is the world of recruiting.  I've trimmed the email down to the salient parts:</p>
<blockquote><p>
		Hello David,</p>
<p>
		Hope you are doing good.</p>
<p>
		I am currently looking for Senior level Linux Systems Administrator, full time position with a well established startup in Bay Area, CA.</p>
<p>
		I understand that you are currently studying, but wanted to check if you would know someone who would be interested. Open to considering mid or junior level candidates as well if they have the right experience.</p>
</blockquote>
<p>
	There are a number of things that immediately scream red flag from this post:</p>
<ol><li>
		While I am currently pursuing an MS, I think my resume makes it pretty obvious that I'm also working full-time.  If not, that's something I need to fix.</li>
<li>
		If somebody has the "right experience" to be a "Senior level Linux Systems Administrator", wouldn't they now be a "Senior level Linux Systems Administrator"?  After all, the distinction between a mid- or junior-level administrator and a senior one, in my mind anyway, is the experience.</li>
<li>
		This is my favorite one: it's with a "well established startup."  I don't know about those out in the valley, but in my mind, you're either "well established" or a "startup", not both.  You can be a "well funded startup" if you want to give someone confidence about their odds of getting a paycheck, but a "well established startup" is just an effort to say "we want them to think it'll feel like a cool startup, but pay like a big business!"</li>
</ol><p>
	Don't get me wrong: I'm flattered by the contacts from recruiters.  I must be doing SOMETHING right.  There have even been a couple of interesting ones directly from major Silicon Valley players, but usually, the 3rd party ones aren't usually that exciting.  But maybe its a sign that things are turning around, at least in the IT world.</p>

