---
layout: post
title: "Southeast Linuxfest 2011"
date: 2011-06-13 18:08:18 +0000
permalink: /2011/06/13/southeast-linuxfest-2011/
category: Linux
tags:
  - Linux
  - SELF
  - Southeast Linuxfest
redirect_from:
  - /blog/southeast-linuxfest-2011/
---
<p>
	This year was my 2nd Southeast Linuxfest (I'd previously attended the inaugural SELF at Clemson in 2009) and I was blown away by how it has grown.  As a former organizer for the Atlanta Linux Fest (which I terribly miss) I know how hard it is to make an event like this a success.  I have to applaud the organizers of SELF, even if I'm not sure who all of them are!  The conference retained a great "local" feel while still attracting a diverse group of people.</p>
<p>
	<strong>The Good</strong></p>
<p>
	Most of the conference qualifies as the good -- or maybe it should be the "great"!  The speakers were engaging, seemed well prepared, and there was a wide variety of topics being covered.  I stuck mostly to the System Administration track, but I look forward to some of the others when they hit archive.org.  It seemed like there was something for everyone.</p>
<p>
	I really liked the range of exhibitors as well -- everyone from Linode to Sudo Make Coffee.</p>
<p>
	The afterparties sponsored by Rackspace and OpenSource.com were great fun, and I have to give mad props to Int80 from <a href="http://dualcoremusic.com">Dual Core</a> for his performance Saturday night.</p>
<p>
	<strong>The Bad</strong></p>
<p>
	I was shocked that the EFF and FSF weren't represented, and I was hoping to see Debian and Ubuntu presence as well.  Obviously, the SELF organizers aren't responsible for getting these organizations there, but I was surprised by the absences.</p>
<p>
	I also feel that SELF may be outgrowing the hotel in Spartanburg.  The aisles were crowded with attendees and vendors and it felt like so much could've been done with a little more space, but maybe this was just a matter of perspective.</p>
<p>
	<strong>The Ugly</strong></p>
<p>
	Honestly, not much qualifies as "ugly" about SELF.  The only thing I can think of is the lack of local dining establishments in the area immediately surrounding the hotel.  There were a couple of places down the road (including a surprisingly good Thai establishment and a surprisingly bad deli) but nothing immediately "next door".</p>
<p>
	<strong>Conclusion</strong></p>
<p>
	Personally, I'd like to SELF as a slightly longer event.  With the length that SELF currently is, I felt like I "had" to be in a session constantly, or I'd be missing important time.  With a slightly longer event, that sense of urgency diminishes.</p>
<p>
	I'd also like to see better use of the SELF wiki or some other resource for organizing BoFs in advance.  Having an idea of what people are interested in might help indicate if a BoF will be a success (and what time the BoF should be held.)</p>
<p>
	I wish SELF the best of luck (even if I wish we still had a successful event in Atlanta) and I hope to see everyone back next year!</p>

