---
layout: post
title: "Net Neutrality: Why It Matters"
date: 2011-01-13 21:03:20 +0000
permalink: /2011/01/13/net-neutrality-why-it-matters/
categories: Computer,Law/Politics
redirect_from:
  - /blog/net-neutrality-why-it-matters/
---
<p>The discussion about Net Neutrality continues to heat up.  Over at LifeHacker, they asked "<a href="http://lifehacker.com/5732436/what-would-you-miss-most-if-the-net-wasnt-neutral-anymore">What Would You Miss Most if the Net Wasn't Neutral Anymore?</a>"  One user responded with a <a href="http://lifehacker.com/comment/35452089">comment</a> that compared Cable TV to the Internet.  Either I failed to understand his sarcasm, or he's totally missing the point.</p>
<p>Until recently, your cable company was just a transporter of someone else's data -- the TV networks.  You paid extra for extra channels, which is fine with me, as your cable company is then paying the TV producers for the content.  If paying my ISP meant all sites were then free to access, that might even be fine.  But it won't be, I'll still be paying Netflix and my ISP.</p>
<p>I don't mind the idea of paying reasonable fees for my bandwidth.  I don't mind the idea of prioritizing traffic so that VoIP is seamless, streaming video doesn't stutter, etc.  Why I do mind (and will NOT tolerate as a customer) is the idea of my ISP prioritizing their VoIP product over that of a competitor, or the idea of an ISP blocking certain services unless you pay extra.  Bandwidth is what I pay for, it shouldn't matter where it's going.</p>
<p>Ultimately, if my ISP adopts blocking or anti-competitive practices, I will be cancelling my services and I will be filing complaints with the FTC, BBB, and other organizations.  The internet has become what it is because of the innovation promoted by a free and open internet, and filtering by ISPs will be disastrous.  Perhaps it's time for an ISP revolution.</p>
<p><em>[Edit: Steve Wozniak (inventor of the PC) also has some <a href="http://www.theatlantic.com/technology/archive/2010/12/steve-wozniak-to-the-fcc-keep-the-internet-free/68294/">strong views on Net Neutrality</a>.]</em></p>

