---
layout: post
title: "Lying to Google (a.k.a. SEO)"
date: 2011-09-23 23:51:43 +0000
permalink: /2011/09/23/lying-to-google-aka-seo/
category: Computer
tags:
  - SEO
redirect_from:
  - /blog/lying-to-google-aka-seo/
---
<p>
	Search Engine Optimization (SEO) comes in two basic forms.  The first really is optimization: ensuring that your site has good links, that the content is relevant, and that the site adheres to good structural practices all fit into true optimization.  With the ever-growing complexity of websites, taking steps to help search engines understand your content and the structure of your site makes good sense.  With the new notion of a "semantic web", this will grow to a new level and become a key part of web development best practices.</p>
<p>
	The second form of search engine optimization basically amounts to lying to Google.  I say "Google" and not "search engines" because Google's market share has made it so that most SEO amounts to efforts to get the highest Google page rank.  Take, for example, the practice referred to as "<a href="https://secure.wikimedia.org/wikipedia/en/wiki/Google_bomb">Google bombing</a>".  Creating many misleading links to a page in order to have it appear for keywords that have nothing to do with the content is clearly misleading to Google, and misleading to consumers.</p>
<p>
	A few days ago, Matt Gemmell posted an article entitle "<a href="http://mattgemmell.com/2011/09/20/seo-for-non-dicks/">SEO for Non-dicks</a>" where he described the positive world of SEO.  But he also highlighted the unethical practices presented at a SEO conference.  Several companies offering SEO services feature practices like buying links, setting up link farms, and embedding hidden links in pages.  Other practices include hidden (same color as background or underneath other parts of the site) text that may have little or nothing to do with the site.</p>
<p>
	Because these techniques are designed to mislead search engines (and consequently the consumers using the search engines), these seem to me to amount to a "bait and switch" advertisement.  This is gaming the system.  Fortunately, search engines are making great strides in penalizing the sites that use these misleading practices.</p>
<p>
	To paraphrase Field of Dreams, "If you build good content, they will come."</p>

