---
layout: post
title: "Linode Rocks!"
date: 2011-05-18 03:13:28 +0000
permalink: /2011/05/18/linode-rocks/
category: Linux
tags:
  - Linux
  - Linode
  - VPS
  - Debian
  - Ubuntu
redirect_from:
  - /blog/linode-rocks/
---
<p>
	As you may know, my site is hosted by <a href="http://www.linode.com/?r=680a893e24df3597d32f58cd41930e969027dc06">Linode</a>, one of the older Linux VPS providers.  I was excited when Linode <a href="http://blog.linode.com/2011/05/03/linode-launches-native-ipv6-support/">announced native IPv6 support</a> in some of their data centers, but then disappointed when I saw "No ETA" for the Atlanta datacenter where my site was hosted.  I had been running my node with Hurricane Electric's IPv6 tunnel service, but I prefer a native solution when I can get it.</p>
<p>
	As a result, I decided to move my Linode to the New Jersey data center.  At first, I contemplated just opening a ticket to get it moved, but I'd been wanting to do some "housekeeping" and had considered switching to pure Debian, so I decided to rebuild and migrate services.  As of this morning, I had migrated most services (including web/database) to the new Linode in New Jersey.  If it's at all possible, it seems even faster than my Atlanta Linode was.  (Technically, it is: 2.5 GHz CPUs vs 2.0 GHz CPUs)</p>
<p>
	It required opening a ticket to get an IPv6 address assigned -- but the ticket was handled in <strong>less than one minute.</strong>  <strong><em>At 11:00 PM Eastern time.  </em></strong>I've known that Linode has great customer service, but this blew me away.  Way to go, Linode!</p>
<p>
	(NB: If this entry helps inspire to join Linode, I'd appreciate you supporting my site and using my referral code of <span class="geshifilter"><code class="text geshifilter-text">680a893e24df3597d32f58cd41930e969027dc06).</code></span></p>

