---
layout: post
title: "Drupalcon 2011: Introduction to Module Development"
date: 2011-03-10 04:52:32 +0000
permalink: /2011/03/10/drupalcon-2011-introduction-to-module-development/
category: Drupal
redirect_from:
  - /blog/drupalcon-2011-introduction-to-module-development/
---
<p><a href="http://ezra-g.com">Ezra B. Gildesgame</a> from <a href="http://growingventuresolutions.com/">Growing Venture Solutions</a> presented an Introduction to Module Development.  (<a href="http://growingventuresolutions.com/gvsfiles/Introduction_to_Module_Development_Ezra_B_G_drupalon_chicago_0.pdf">Slides</a>)</p>
<p>While I was already fairly familiar with the basics of Drupal module development, it provided a nice refresher and some insight into how they handle things.  It was also interesting to see Ezra using Eclipse for module development -- I've always had mixed feelings about Eclipse and PHP.</p>
<p>A couple of new things I learned:</p>
<ul><li>In devel views, you may now see "und" as an array index: this indicates undefined localization, as given by the Drupal constant LANGUAGE_NONE.</li>
<li>Remember to clear the cache when defining new hooks (not really new, but worth repeating)</li>
<li>func_get_args() and debug_backtrace() are both very useful PHP functions for debugging, especially when combined with dpm()</li>
<li>dpm() uses Krumo, which is a pretty awesome PHP library</li>
<li>Like so many other things in Drupal, modules have weights in the system table -&gt; weights define execution order (Though well-developed modules should work under any order.)</li>
<li>Use proper APIs rather than querying the DB directly if you can.  Some modules add extra information to entities, etc., that you will miss by querying the DB directly.</li>
<li><strong>Don't hack core.</strong> (Also not new, but also worth repeating)</li>
</ul><p>All in all, Ezra put together a great presentation that was perfect for my first "regular" session of Drupalcon Chicago.</p>

