---
layout: post
title: "Welcome to Nginx!"
date: 2011-01-23 17:49:21 +0000
permalink: /2011/01/23/welcome-to-nginx/
category: Linux
tags:
  - Linux
  - Administration
  - Open Source
  - Nginx
  - Wordpress
redirect_from:
  - /blog/welcome-to-nginx/
---
<p>If you're reading this, it's thanks to Nginx.  As of about midnight last night, all content on SystemOverlord.com is being served up by Nginx.  I did this for two reasons: Nginx has a much smaller memory profile than Apache, which is important when running on a 512MB VPS, and Nginx's preferred PHP path is through a FastCGI interface, which allows me to run separate PHP FastCGIs under different users for each application on my server.  Privilege separation for different webapps has always been a big thing security-wise, and I'm glad I was able to get it going with a minimum of fuss.  <a href="http://wordpress.org">Wordpress</a>, <a href="http://nginx.org">Nginx</a>, <a href="http://mysql.com">MySQL</a>, and <a href="http://ubuntu.com">Ubuntu Server</a> powered, all on a <a href="http://www.linode.com/?r=680a893e24df3597d32f58cd41930e969027dc06">Linode VPS</a>!</p>

