---
layout: post
title: "The US Day of Rage"
date: 2011-09-27 00:48:00 +0000
permalink: /2011/09/27/the-us-day-of-rage/
category: Law/Politics
tags:
  - Day of Rage
  - US Uncut
  - Anonymous
  - Politics
redirect_from:
  - /blog/the-us-day-of-rage/
---
<p>For those who have missed it, (and since the mainstream media is more or less ignoring it, you probably have) there's currently a large number of people protesting against the increasing social inequality in the United States.  There are thousands of people protesting on Wall Street and the rest of Manhattan, protesters in Chicago, and protesters in other major cities.</p>
<p>Much of the movement was spawned by a movement for the "US Day of Range".  Some of this movement was spawned by a group called US Uncut, whose primary goal was to highlight that the largest banks in the country pay less in income taxes than most of the individual taxpayers in this country.  Some of this movement has spawned out of the group "Anonymous", which seems to be a loose-knit group of individuals that may have some common foundations.  Others seem to have just joined as the movement reached critical mass, identifying only with the core views of the Occupy Wall Street movement.</p>
<p>These groups have come together in order to demand that the government protect individuals rights and recognizes that the people of the United States must come before the desires of big business.  Congress must take steps to halt the progression we have towards a two-class society: rich management riding the backs of the under- and un-employed.  With our current trend, we will quickly be eclipsed by the societies of China, India, and other states.</p>
<p>Anonymous has done many things I don't agree with.  I don't support the Anti-Sec movement, and I don't believe that hacking servers, leaking information, or defacing websites is a productive activity.  I do believe in peaceful protest, in the 1st amendment right to petition the government for a redress of grievances.  Most of the activities associated with the Occupy Wall Street are protected 1st Amendment activities.</p>
<blockquote><p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p></blockquote>
<p>A week and a half ago, only <a href="http://thecaucus.blogs.nytimes.com/2011/09/16/approval-of-congress-matches-record-low/">12% of Americans approved</a> of the job being done by Congress.  Police Officers in New York are assaulting and battering peaceful protestors with <a href="http://www.guardian.co.uk/world/2011/sep/27/occupy-wall-street-anthony-bologna">chemical weapons</a>.  How much more of the status quo are the people of America prepared to stand? </p>
<p>I can only hope that the change here will come about through informed discourse, peaceful protest, and democratic processes.  In Syria, Egypt, and Libya, we have seen less peaceful revolutions when the people of those states reached a tipping point.  Civil disputes in this country have a long history -- whether it was the civil rights movement or the civil war.  Out of the latter, we got the Gettysburg Address with its timeless words "government of the people, by the people, for the people."  We must return to government of the people, by the people, and for the people before American society is destroyed.</p>

