---
layout: post
title: "What happens when your credit card is out of your sight?"
date: 2011-02-14 05:12:51 +0000
permalink: /2011/02/14/what-happens-when-your-credit-card-is-out-of-your-sight/
category: Misc
redirect_from:
  - /blog/what-happens-when-your-credit-card-is-out-of-your-sight/
---
<p>We've all done it, and it seems so normal: hand a credit card to a server at a restaurant to pay the bill.  It's an everyday activity, occurring millions of times a day around the world.  However, this comes with risks, as the media shows us:</p>
<ul><li><a href="http://www.cbsnews.com/stories/2007/04/21/national/main2713680.shtml">Waiters Arrested In $3M Credit Card Fraud</a></li>
<li><a href="http://blog.protectmyid.com/2010/12/20/the-waiter-took-more-than-his-tip-restaurant-skimming/">The Waiter Took More Than His Tip – Restaurant Skimming</a></li>
<li><a href="http://www.kmbc.com/news/18256723/detail.html">Ex-Waiter Charged With Credit Card Theft</a></li>
<li><a href="http://www.givemebackmycredit.com/blog/2010/10/waiter-busted-for-skimming-customer-credit-card-numbers.html">Waiter Busted for Skimming Customer Credit Card Numbers</a></li>
</ul><p>With devices like <a href="http://cgi.ebay.com/Portable-Mini-400-Magnetic-Magstripe-Data-Card-Reader-/270632979258">Portable Mini 400 Magnetic Magstripe Data Card Reader</a>, it's a wonder that more credit cards aren't stolen in that fashion.  (I guess we're just protected by either a sense of right or the risk of being caught.)  While the $230 pricetag might seem a little high at first, consider the number of credit cards a single waiter might handle in a night.  Even placing a relatively small transaction on each of those cards, a single night would be enough to make up the price of the reader.</p>
<p>Magnetic stripe payment technology became widely available in <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Magnetic_stripe_card">1975</a>.  While it has served us well for over 35 years, it's time to move to newer technology to protect our financial transactions.  Skimmers, these handheld recording devices, and other relatively accessible pieces of technology have rendered the magstripe obsolete.  Now is a good time, as 4 researchers at the University of Cambridge have <a href="http://www.cl.cam.ac.uk/~sjm217/papers/oakland10chipbroken.pdf">shown significant weaknesses</a>[PDF] in the Chip and PIN system widely deployed in Europe.  With the proliferation of cell phones, especially smartphones, maybe the time is now for <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Mobile_payment">Mobile payment</a> to become a major part of the electronic payment industry.  Alternatively, new smart card implementations might extend the life of plastic just a little longer.</p>

