---
layout: post
title: "My Life in Big Bang Theory"
date: 2011-02-06 05:21:14 +0000
permalink: /2011/02/06/my-life-in-big-bang-theory/
category: Personal
redirect_from:
  - /blog/my-life-in-big-bang-theory/
---
<p>I was thinking this evening about how being a generalist kindof sucks.  I don't feel like I've found my niche yet, and I'm fairly disappointed by that.  I've also been watching Big Bang Theory and realized why the show appeals to me as much as it does.  While my life is (unfortunately) not like that of the characters in the show, I see some similarities between myself and the characters:</p>
<ul><li>Dr. Sheldon Cooper -- Much like Sheldon, I sometimes nerd out to a degree that others don't understand.  Granted, I'm not a physicist, but man, I can nerd out about computers.  Plus I'm pretty socially awkward.</li>
<li>Dr. Leonard Hofstadter -- I like to think that most of my life is like Leonard.  Except I've found and secured my "Penny" (being married and all).  I'm not very up on pop culture, sports, or all that other stuff.  Of course, neither is Leonard and it hasn't seemed to hurt him -- too much.</li>
<li>Howard Wolowitz, M.S. -- Much like Howard, I'm insecure by my lack of expertise and specialization.  I hope I'm not quite as sleazy, but I do like my wife... enough said.</li>
<li>Dr. Rajesh Koothrappali -- Again, I'm incredibly socially awkward.</li>
</ul><p>Now... to find my niche.</p>

