---
layout: post
title: "Avenue Q"
date: 2011-06-19 22:18:07 +0000
permalink: /2011/06/19/avenue-q/
category: Personal
tags:
  - Avenue Q
  - Theater
redirect_from:
  - /blog/avenue-q/
---
<p>
	Last night, Ann and I attended a local performance of "Avenue Q" at the <a href="http://www.horizontheatre.com/">Horizon Theatre Company</a> with some people from my work.  I wasn't sure what it would be like, but the 175-seat theater is a perfect setting.  We got there just before showtime, so got seats in the very back, but even those seats have a great view.  The entire theater can only be described as an intimate setting.</p>
<p>
	While I was familiar with a few of the songs in Avenue Q, I had no idea how well the play would click with my sense of humor.  It was, without a doubt, the funniest thing I have ever seen.  I never thought I would say that I empathized with puppets, but I did in Avenue Q.  The performers at Horizon were incredibly talented and passionate professionals who put on a truly top-notch show.  If you've wanted to see Avenue Q, I can't recommend enough checking out Horizon before the show ends July 3rd.</p>

