---
layout: post
title: "Managing Drupal with Git"
date: 2011-08-04 23:40:56 +0000
permalink: /2011/08/04/managing-drupal-with-git/
category: Drupal
tags:
  - Drupal
  - Modules
  - Git
redirect_from:
  - /blog/managing-drupal-with-git/
---
<p>
	For a while now, I've been meaning to manage my Drupal site (and the modules and features on it) with git.  The release of Drupal 7.7 provided a perfect opportunity to make this transition.  I've now cloned the main Drupal.org git repository, added my features (as submodules) and added the modules I use (also as submodules).  I'm still getting used to working with git, and I wish there was a way to push parts of my configuration remotely, but I understand why you can't.</p>
<p>
	If anyone is wondering, the following modules are used on this site:</p>
<ul><li>
		APC</li>
<li>
		Boost</li>
<li>
		CAPTCHA</li>
<li>
		CKEditor</li>
<li>
		Context</li>
<li>
		CTools</li>
<li>
		ELFinder</li>
<li>
		Entity</li>
<li>
		Features</li>
<li>
		Field Group</li>
<li>
		Geshi Filter</li>
<li>
		Git Deploy</li>
<li>
		Google Analytics</li>
<li>
		Gravatar</li>
<li>
		Libraries</li>
<li>
		Link</li>
<li>
		Linkit</li>
<li>
		Media</li>
<li>
		Panels</li>
<li>
		Pathauto</li>
<li>
		Pathologic</li>
<li>
		ReCaptcha</li>
<li>
		Redirect</li>
<li>
		Secure Login</li>
<li>
		Secure Pages</li>
<li>
		Strongarm</li>
<li>
		Styles</li>
<li>
		Token</li>
<li>
		Views</li>
</ul>
