---
layout: post
title: "Apology to the LoCo"
date: 2011-01-12 05:23:29 +0000
permalink: /2011/01/12/apology-to-the-loco/
category: Linux
redirect_from:
  - /blog/apology-to-the-loco/
---
<p>To the Ubuntu Georgia Local Community:</p>
<p>Around September of last year, I began to take over from Nick Ali and others in coordinating the activities of the Georgia LoCo.  Unfortunately, I haven't done very well at that.  I have not set up any events or otherwise taken steps to help the LoCo grow.  However, it's a new year and it's time for a new tack.  It's time for the LoCo to get out there and get active.  I have a large stash of 10.10 CDs for us to distribute and I'd like to try to get events scheduled at least every 2-3 months.  I'd also like to start new partnerships with other like-minded organizations.  Hopefully, I'll be able to turn a new leaf and jump-start activity in the organization. I'd like to invite anyone with thoughts on the future of the LoCo to contribute their ideas, and I'll do what I can to get them rolling.</p>
<p>I'd like to start thinking about a 11.04/Natty release party.  Thoughts, ideas, desires, suggestions?</p>

