---
layout: post
title: "Tablets, Free Software, and You"
date: 2011-09-23 01:38:56 +0000
permalink: /2011/09/23/tablets-free-software-and-you/
category: Computer
tags:
  - Linux
  - Tablets
  - Open Source
  - Free Software
  - Free Data
redirect_from:
  - /blog/tablets-free-software-and-you/
---
<p>
	Tablets are the current 'big thing' in computing devices -- so much so, in fact, that many believe tablets will replace most of the uses of laptops and desktops.  This aligns closely with the trend to put "everything" on the web.  While making everything browser-based certainly has its conveniences, it also has risks.</p>
<p>
	Users are continually placing their privacy and their data in the hands of others, while ignoring the risks posed by these actions.  Look, for example, at the terms of service and software licenses associated with the iPad.  Apple can remotely "kill" software on your iPad.  If that software was storing your data, too bad, it's gone.</p>
<p>
	What if all your images are stored in a "cloud storage" solution and your provider suddenly decides to increase rates (or decrease your free storage quota)?  Will you pay whatever it takes to get your images back?  How about your email, the videos of your children, or your personal documents?</p>
<p>
	I'm sure you believe that this won't happen, or that you can just move your data.  If you believe this, take a look at where your data is stored today.  Do you use Microsoft Outlook archives?  I hope you'll never want to load the archive files when you don't have access to Outlook.</p>
<p>
	While Richard Stallman has pointed out that even Android, based on the open source Linux kernel, probably <a href="http://www.guardian.co.uk/technology/2011/sep/19/android-free-software-stallman">does not qualify as free software</a>, that's probably not nearly as important as whether or not your data is free.  Even if you chose to use proprietary software, keeping your data free and open lets you move it when you need it.</p>
<p>
	Tablets and cloud services are two sides of the same coin -- while they might be convenient in the short term, their true costs are well hidden.  For the ease of use, you are giving up substantial amounts of control.  Maybe this is something you're okay with, but you shouldn't be.  I'm not.  Users of the iPad and iPhone routinely "jailbreak" their devices to wrestle some control of their device back.  Why buy a device that requires circumventing the license agreement to use how you want it?  Demand open devices.</p>
<p>
	Use open, standardized formats that are not encumbered by patents.  Make sure you have access to your data -- its best if you keep your data somewhere to yourself (your own computer, flash drive, or other device).  Don't let companies who care only about their bottom dollar tell you what you can do with your data.</p>
<p>
	Take control of your devices, take control of your software, and most importantly, take control of your <em><strong>data</strong></em>.</p>

