---
layout: post
title: "The End of a Chapter"
date: 2012-02-16 04:59:59 +0000
permalink: /2012/02/16/the-end-of-a-chapter/
category: Personal
tags:
  - Work
  - KSU
  - Kennesaw
redirect_from:
  - /blog/the-end-of-a-chapter/
---
<p>
	I'm not usually one for reflective personal blog entries, but some events require a brief mention: today was my last day at KSU, and it was an incredibly surreal day.  Though I've known this day was coming for over a month, it is still hard to believe that it got here.  In many ways, today felt like any other day: the work was similar, things needed to get done.  In other ways, there was an 800 pound gorilla in the room: everyone knew that tomorrow I wouldn't be coming to work.  When I finally cleared out my office, the finality of what was going on really hit me.</p>
<p>
	There are friends I have made at KSU that are like none other, and I will genuinely miss them.  I hope we will stay in contact and I hope to get back to the Atlanta area sometime and visit them, or perhaps they will make it out to the bay area.  Unfortunately, friendships seem to have a tendency to dissolve too easily with distance, but one can always hope that things will be different.</p>
<p>
	Today, one chapter of my life closes.  For now, a brief interlude to relocate to the Bay Area, and then a new chapter begins in 12 short days!</p>

