---
layout: post
title: "2 Weeks at Google"
date: 2012-03-12 05:08:01 +0000
permalink: /2012/03/12/2-weeks-at-google/
category: Work
tags:
  - Google
  - SRE
  - Life
redirect_from:
  - /blog/2-weeks-at-google/
---
<p>
	Two weeks at Google have been... amazing.  There's a lot that I can't talk about, but I can feel comfortable in confirming some of the things you hear about Google:</p>
<ul><li>
		The people are insanely smart.</li>
<li>
		The scale blows your mind as a Noogler (new Googler).</li>
<li>
		The food is great.</li>
<li>
		It has culture.</li>
</ul><p>
	I'm a "Site Reliability Engineer" which is a job title that may not exist anywhere else.  It's basically production-oriented operational engineering: keeping production systems running and making them run better.</p>
<p>
	Ann and I have found a new place, so we'll be moving there from the corporate housing next week.  It'll be nice to get our stuff back and get settled in.</p>
<p>
	(All opinions expressed here are mine and not my employers.  I will not comment on or discuss Google policy, unreleased products, or other proprietary information.)</p>

