---
layout: post
title: "Social Engineering: The Art of Human Hacking"
date: 2012-12-02 21:49:25 +0000
permalink: /2012/12/02/social-engineering-the-art-of-human-hacking/
category: Security
tags:
  - Social Engineering
  - Book Review
redirect_from:
  - /blog/social-engineering-the-art-of-human-hacking/
---
<p>I just got done reading Christopher Hadnagy's <a href="http://www.amazon.com/gp/product/0470639539/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0470639539&amp;linkCode=as2&amp;tag=systemovecom-20">Social Engineering: The Art of Human Hacking</a>.  If you are interested in the social aspects of information security, this provides an in-depth view of the actual techniques and science behind social engineering.  While books like Kevin Mitnick's <a href="http://www.amazon.com/gp/product/076454280X/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=076454280X&amp;linkCode=as2&amp;tag=systemovecom-20">The Art of Deception</a> and <a href="http://www.amazon.com/gp/product/0471782661/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0471782661&amp;linkCode=as2&amp;tag=systemovecom-20">The Art of Intrusion</a> tell amusing and noteworthy stories of social engineering hacking, Hadnagy's book tells you <b>why</b> and <b>how</b> it works.  Hadnagy's exposure all reveals the most important lesson -- how to defend against the attacks.</p>
<p>Hadnagy takes you through all the steps of a social engineering exploit -- from information gathering to the exploit.  He discusses techniques like elicitation (extracting information from a target), influence (getting them to do what you want), pretexting (developing the back story that makes the attack believable), micro-expressions (control the subtle muscle movements that can give you away), and neuro-linguistic programming (the exact way you say things can make a <b>big</b> difference).</p>
<p>It doesn't matter if you're blue team, trying to protect your valuable assets against attack, or red team, trying to get in there, but it's critical you know how to exploit the human element of security.  After all, the devil you know is better than the devil you don't.</p>

