---
layout: post
title: "Big Changes"
date: 2012-01-05 00:54:46 +0000
permalink: /2012/01/05/big-changes/
category: Personal
tags:
  - Life
  - Google
  - Jobs
  - Kennesaw
redirect_from:
  - /blog/big-changes/
---
<p>
	Today I did one of the hardest things I have had to do: I turned in my notice that I would be leaving Kennesaw State University in February.  It was hard because I consider my management and many of my coworkers to be friends and I genuinely do enjoy my job, but I now have the opportunity to start the next chapter of my life.  At the end of February, I'll be moving to California and starting at Google as a Site Reliability Engineer!</p>
<p>
	It's a pretty exciting opportunity for me, and I'm looking forward to it very much, but I will miss the people at Kennesaw.  It's been a good time, and had this opportunity not arisen, I probably would have stayed there for quite a while longer.</p>
<p>
	Change is good, even if it is a bit hard to do.</p>

