---
layout: post
title: "Thoughts on NSA Surveillance"
date: 2013-09-06 01:17:36 +0000
permalink: /2013/09/06/thoughts-on-nsa-surveillance/
categories: Computer,Freedom,Law/Politics,Security
redirect_from:
  - /blog/thoughts-on-nsa-surveillance/
---
<p>I'm going to make this quick -- trying to distill all my thoughts on the NSA into a blog post is impossible, but I feel the need to post something. I believe the actions of the NSA violate my privacy, violate the 4th amendment, and violate the rights of every person on the Internet.  <a href="http://www.theguardian.com/commentisfree/2013/sep/05/government-betrayed-internet-nsa-spying">The US Government has Betrayed the Internet, and We Need to Take It Back</a>.  While I don't want to give free reign to terrorists, we have been talking about how our Constitution is what makes America great, and yet we have shredded that very document.  I lose sleep over this not because of the ways the government claims its being used, but over the ways it could be misused -- the next Hoover, the next Nixon, the next McCarthy.  It's time for us to return to a government that respects our rights and our constitution; It's time to return to checks and balances; It's time for America to be free again.  I've been a member of the <a href="https://www.eff.org">EFF</a> for several years now, and it (along with organizations like the ACLU and other civil liberties organizations) is the only hope I have left for our country.</p>
