---
layout: post
title: "CTF Practice"
date: 2013-09-08 23:45:22 +0000
permalink: /2013/09/08/ctf-practice/
categories: Computer,Security
redirect_from:
  - /blog/ctf-practice/
---
<p>Those who know me know that I might play in the occasional CTF competition. It's a good way to improve my skills, keep my mind sharp, and it's just plain fun. From a defensive security perspective, it's quite amazing to see how code that looks perfectly reasonable is, in fact, quite often very broken.  If you've never done a CTF, you should watch @rogueclown's "<a href="http://www.rogueclown.net/if-you-can-open-the-terminal-you-can-capture-the-flag/">If You Can Open A Terminal, You Can Capture the Flag.</a>"</p>
<p>I do some extra practice between CTFs -- I'm currently working my way through the challenges on OverTheWire.org, and they've recently added support for scoring via WeChall, a scoring site for a variety of CTF/challenge sites.  In doing those, I've come across some good reading for anyone doing reversing/challenges/CTFs/etc:</p>
<ul>
<li><a href="http://www.phrack.com/issues.html?issue=49&amp;id=14#article">Smashing the Stack For Fun and Profit</a></li>
<li><a href="http://www.exploit-db.com/papers/13216/">Reconstructing Binaries to C for Beginners</a></li>
<li><a href="http://www.exploit-db.com/papers/13215/">Reverse Engineering -- functions... functions! functions?</a></li>
<li><a href="http://www.infond.fr/2010/07/tutorial-exploitation-format-string.html">Format String Exploitation</a></li>
<li><a href="http://opensecuritytraining.info/Training.html">Various Classes From OpenSecurityTraining.info</a></li>
<li><a href="http://www.catonmat.net/blog/simple-ld-preload-tutorial-part-2/">LD Preload Tricks</a></li>
<li><a href="http://linux.die.net/man/2/ptrace">ptrace(2)</a></li>
</ul>
