---
layout: post
title: "Homeland by Cory Doctorow"
date: 2013-02-06 10:12:50 +0000
permalink: /2013/02/06/homeland-by-cory-doctorow/
category: Freedom
tags:
  - Book Review
  - Cory Doctorow
  - Homeland
  - Aaron Swartz
  - Surveillance
redirect_from:
  - /blog/homeland-by-cory-doctorow/
---
<p>Those who know me will not be surprised to learn that I have stayed up until 1:45 AM reading Cory Doctorow's new book, <a href="http://www.amazon.com/gp/product/0765333694/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0765333694&amp;linkCode=as2&amp;tag=systemovecom-20"><i>Homeland</i></a>.  <i>Homeland</i> is the sequel to <a href="http://www.amazon.com/gp/product/0765323117/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0765323117&amp;linkCode=as2&amp;tag=systemovecom-20"><i>Little Brother</i></a>, Cory's first novel about a dystopian near-future/present of the American Surveillance State, which was one of my favorite novels of all time.  <i>Homeland</i> doesn't disappoint -- it's realistic enough to be scary, but sufficiently fictional to not be downright terrifying.  <i>Little Brother</i> and <i>Homeland</i> are the <i>Nineteen Eighty-Four</i> of the 21<sup>st</sup> century -- a warning of an issue that society is largely ignoring, and that will affect every one of us.</p>
<p><b>Minor spoilers below.</b></p>
<p>I read <i>Little Brother</i> before my move to the Bay Area, and so the descriptions of San Francisco felt like they were talking about any other city I had visited or about which I had watched a movie.  Reading <i>Homeland</i> now, I am immensely familiar with many of the areas described.  Perhaps most excitingly, Noisebridge, the well-known San Francisco hackerspace, is featured prominently in the novel.  Perhaps even more exciting to the geek in me are some of the early characters in the novel: John Perry Barlow, Mitch Kapor, and John Gilmore of <a href="https://eff.org">EFF</a> fame; and Wil Wheaton of Star Trek: TNG, The Big Bang Theory, and Internet fame.</p>
<p>Significantly, Cory gets the technology just right.  Describing technologies like TOR in a correct but not boring manner is no small feat in a novel, and he pulls it off perfectly.  Even more so, describing the terrifying capabilities of the modern police/surveillance state is something that only Orwell and Doctorow have done so convincingly.  This, of course, is where the book gets all too real -- descriptions of police actions towards protesters, of pervasive surveillance, of spyware gone bad, and of politicians bought by "big business" -- this is the world we live in, and only the slightest details separate <i>Homeland</i> from reality.  Doctorow hits it right on the head, and addresses the very things that keep me awake at night, and keep reminding me of why organizations like the <a href="https://eff.org">EFF</a> are so important.</p>
<p>Despite the plight of the protagonist, Marcus Yallow, the hardest part of <i>Homeland</i> for me to read was the 2<sup>nd</sup> afterword.  Written by Aaron Swartz, the afterward is a reminder that <i>Homeland</i>, like <i>Little Brother</i> before it, is not just a novel, but actually describes many of the aspects of our society of today and tomorrow.  This was especially hard to read when you realize that it is this very same society (and likely many of the same <b>aspects</b> of society) that led to Aaron taking his own life recently.  <i>Homeland</i> serves as a reminder of all the things that Aaron fought for, and that the rest of us must continue to fight for.</p>
<p>Like <i>Little Brother</i>, <i>Homeland</i> must be read by anyone who cares about privacy, civil liberties, technology, or their intersection.  Not only does the book address serious issues, it does so in a manner that makes it impossible to put it down until the very end.  You'll be left actually thinking about social, legal, technological, and ethical issues, and that's exactly what society needs so desperately.</p>

