---
layout: post
title: "BSides SF CTF by MAD Security, Conclusion"
date: 2013-03-06 05:51:21 +0000
permalink: /2013/03/06/bsides-sf-ctf-by-mad-security-conclusion/
category: Security
tags:
  - BSides
  - CTF
redirect_from:
  - /blog/bsides-sf-ctf-by-mad-security-conclusion/
---
<p>This is the conclusion to my write-up of the awesome BSides SF CTF by <a href="http://madsecurity.com">MAD Security</a>/<a href="http://thehackeracademy.com">The Hacker Academy</a>.  You can find the other parts here: <a href="/2013/03/02/bsides-sf-ctf-by-mad-security-part-1">Levels 1-2</a>, <a href="/2013/03/03/bsides-sf-ctf-by-mad-security-part-2">Levels 3-4</a>, <a href="/2013/03/03/bsides-sf-ctf-by-mad-security-part-3">Levels 5-7</a>.</p>
<p><strong>What I Learned</strong></p>
<ul><li>
		Don't overthink things -- work from the simplest case.</li>
<li>
		Internet access during a CTF may be spotty (or nonexistent) -- be prepared to work fully offline.  (Download a copy of exploit-db, etc.)</li>
<li>
		Keep meticulous notes -- otherwise you'll find yourself revisiting avenues you've exhausted, forgetting things, etc.</li>
</ul><p><strong>What I Wish I'd Done</strong></p>
<ul><li>
		Bring a notebook and pen.  You know, old school paper -- sometimes it's faster to jot down notes than type things up (especially for things that are not plain text).</li>
<li>
		Log everything -- use GNU screen or something with logging.</li>
<li>
		Keep an open tcpdump to a file the entire time -- you never know what might be useful later (even if only for write ups)</li>
</ul><p>Given that this was my first real-time CTF, I'm pretty ecstatic about doing well.  The guys from MAD Security put together a great set of challenges with a variety of focus areas: information gathering, server exploitation, client exploitation, crypto -- and I suspect there would've been more if there'd been more time.  I can't wait for the next one!</p>

