---
layout: default
---

<header>
  <small class="post-date">{{ page.date | date_to_string }}
    {% if page.category %}in <a
      href="/category/{{ page.category | slugify }}"
      >{{ page.category }}</a>{% endif %}
    </small>
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    Reading time: {% include readingtime.html content=page.content %}
    {% include sharing.html %}
  </div>
</header>
<div class="content">
  <div class="post-body">
    {% include series.html %}
    <div class="post-content">
      {{ content }}
    </div>
    {% include affiliate.html %}
    {% include post-tags.html %}
  </div>
</div>

{% include related.html %}
